.about {
	@extend %clearfix;
	display: table;
	border-bottom: 1px solid #d8d8d8;
	width: 100%;
	padding: 30px 0;
	font-size: 18px;
	&__icon {
		display: table-cell;
		vertical-align: middle;
		width: 190px;
		img {
			width: 100px;
		}
	}

	&__content {
		display: table-cell;
		vertical-align: middle;
		&__title {
			color: $color-main;
			margin-bottom: 3px;
			font-size: 18px;
		}

		&__des {

		}
	}

	&:last-child {
		border-bottom: none;
	}
}

.about-list {
	padding: 0 100px;
	border-bottom: 3px solid $color-blue-dodgle;
}

.about-info {
	padding: 0 50px;
	margin: 30px 0;
	font-size: 18px;
	&-border {
		border-left: 1px solid #d8d8d8;
	}

	&__title {
		text-transform: uppercase;
		margin-bottom: 30px;
		color: #454545;
		font-size: 20px;
	}

	&__contact {
		padding: 0;
		list-style: none;
		li {
			margin-bottom: 22px;
			@extend %clearfix;
		}
		i {
			color: $color-blue-cornflower;
			vertical-align: top;
			font-size: 22px;
			width: 20px;
			text-align: center;
		}
		span, a {
			display: inline-block;
			padding-left: 10px;
			vertical-align: top;
			color: #696969;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.about-list {
		padding: 0;
	}
    .about {
		font-size: 14px;
		&:first-child {
			padding-top: 5px;
		}
		&__icon {
			width: 80px;
			img {
				width: 60px;
			}
		}
		&__content {
			&__title {
				font-size: 14px;
			}

			&__des {

			}
		}
	}

	.about-info {
		font-size: 14px;
		padding: 0;
		&:last-child {
			border-left: none;
		}
		&__title {
			font-size: 16px;
			margin-bottom: 10px;
		}

		&__contact {
			padding: 0;
			list-style: none;
			li {
				margin-bottom: 15px;
			}
			i {
				font-size: 18px;
			}
		}
	}
}




