.action-bar {
	background: $color-blue-cornflower;
	margin-top: 30px;
	&-help {
		max-width: 800px;
		margin: 30px auto 10px;
	}
	.dropdown {
		.btn {
			background: $color-blue-cornflower;
			color: #fff;
			margin-bottom: 0;
			border: none;
			border-right: 1px solid #fff;
			height: 60px;
			&:focus {
				background: $color-blue-cornflower;
				border: none;
				border-right: 1px solid #fff;
				color: #fff;
			}
		}
	}
	.input-group {
		.form-control {
			height: 60px;
			border: 5px solid $color-blue-cornflower;
			font-size: 18px;
			border-right: none;
			position: relative;
			z-index: 99;
		}
		.btn {
			border-right: none;
			font-size: 28px;
			padding: 0 17px;
			background: $color-blue-cornflower;
			color: #fff;
			height: 60px;
			position: relative;
			z-index: 1000;
			&:after {
				right: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(55, 94, 188, 0);
				border-right-color: $color-blue-cornflower;
				border-width: 10px;
				margin-top: -10px;
				z-index: 1000;
			}
		}
	}
	.col-sm-7 {
		padding-left: 0;
	}
	.col-sm-25 {
		padding-right: 0;
		&.last {
			padding-left: 0;
		}
	}
}

@media (max-width: $screen-xs-max) {
    .action-bar {
    	background: none;
        .col-sm-25 {
        	padding-right: 10px;
        	&.last {
        		padding-left: 10px;
        	}
        }
        .col-sm-7 {
        	padding-left: 10px;
        	clear: both;
        }
        .dropdown {
        	margin-bottom: 10px;
        }
    }
}


