.article {
	padding-top: 50px;
	&__img {
		max-width: 100%;
		margin-bottom: 20px;
	}

	&__title {
		font-size: 18px;
		margin-bottom: 20px;
		font-weight: 600;
		color: #454545;
	}

	&__des {
		margin-bottom: 25px;
		font-size: 18px;
	}

	&__author {
		text-align: right;
		display: block;
		margin-bottom: 25px;
	}

	&__link {
		font-weight: 600;
		color: $color-main;
		i {
			font-size: 20px;
			margin-left: 7px;
			vertical-align: middle;
		}
		span {
			vertical-align: middle;
			display: inline-block;
			text-decoration: underline;
		}
	}

	&__content {
		text-align: justify;
		font-size: 18px;
		color: #454545;
		h3, h2, h1 {
			font-size: 18px;
			color: #454545;
			margin-bottom: 30px;
		}
		p {
			margin-bottom: 30px;
		}
	}

	&__doctor {
		background: #f1f1f1;
		padding: 20px 30px;
		font-size: 18px;
		color: #454545;
		display: table;
		width: 100%;
		margin-bottom: 40px;
		&__book {
			text-align: center;
			vertical-align: middle;
			display: table-cell;
			span {
				display: block;
				border-bottom: 2px solid #d1d1d1;
				color: $color-main;
				padding-bottom: 25px;
				margin-bottom: 35px;
				font-size: 22px;
			}
		}
		&__content {
			padding-top: 35px;
		}
		&__title {
			font-size: 18px;
			color: #454545;
		}
	}
}

.article-wrap {
	&__title {
		font-size: 20px;
		font-weight: 400;
		color: #454545;
		border-bottom: 2px solid $color-blue-sky;
		margin-bottom: 30px;
		span {
			background: #fff;
			position: relative;
			top: 10px;
			display: inline-block;
			padding-right: 30px;
		}
	}
}

.article-md {
	display: table;
	margin-bottom: 20px;
	padding: 15px 20px 15px 25px;
	font-size: 18px;
	color: #454545;
	width: 100%;
	background: #f1f1f1;
	&__img {
		display: table-cell;
		vertical-align: middle;
		width: 145px;
		height: 145px;
		img {
			width: 145px;
			height: 145px;
			border: 1px solid $color-blue-cornflower;
			border-radius: 10px;
		}
	}

	&__content {
		display: table-cell;
		vertical-align: top;
		padding: 10px 0 0 25px;
		position: relative;
		&__title {
			margin-bottom: 15px;
			font-size: 18px;
		}

		&__des {
			margin-bottom: 25px;
			line-height: 22px;
		}

		&__price {
			color: $color-blue-cornflower;
			font-weight: 700;
		}
	}

	.btn {
		position: absolute;
		right: 0;
		bottom: 0;
		background: $color-blue-cornflower;
		padding: 10px 20px;
		font-size: 18px;
	}
}

.related-wrap {
	padding: 0 70px 30px;
}

@media (max-width: $screen-xs-max) {
	.article {
		padding-top: 50px;
		&__img {
			max-width: 100%;
			margin-bottom: 20px;
		}

		&__title {
			font-size: 18px;
			margin-bottom: 20px;
		}

		&__des {
			margin-bottom: 25px;
			font-size: 14px;
		}

		&__author {
			text-align: right;
			display: block;
			margin-bottom: 25px;
			font-size: 14px;
		}

		&__link {
			font-size: 14px;
		}

		&__content {
			font-size: 14px;
			h3, h2, h1 {
				font-size: 14px;
				margin-bottom: 10px;
			}
			p {
				margin-bottom: 10px;
			}
		}

		&__doctor {
			padding: 20px 10px;
			margin-bottom: 40px;
			&__book {
				span {
					padding-bottom: 15px;
					margin-bottom: 20px;
					font-size: 18px;
				}
			}
			&__content {
				padding: 15px 15px 0 0;
				font-size: 14px;
			}
			&__title {
				font-size: 18px;
			}
		}
	}

	.article-md {
		font-size: 14px;
		padding: 10px;
		&__img {
			width: 100px;
			height: 100px;
			img {
				width: 100px;
				height: 100px;
				border-radius: 5px;
			}
		}

		&__content {
			padding: 10px 0 0 10px;
			position: relative;
			&__title {
				font-size: 16px;
				margin-bottom: 10px;
			}

			&__des {
				margin-bottom: 15px;
				line-height: 18px;
			}
		}

		.btn {
			padding: 7px 15px;
			font-size: 12px;
			position: relative;
		}
	}
}


