.booking-nav {
	list-style: none;
	background: #fafafa;
	-moz-box-shadow: 0 1px 5px #b1b1b1;
	-webkit-box-shadow: 0 1px 5px #b1b1b1;
	box-shadow: 0 1px 5px #b1b1b1;
	overflow: hidden;
	padding: 0;
	@extend %clearfix;
	li {
		display: inline-block;
		background: $color-blue-cornflower;
		float: left;
		&:first-child a {
			padding-left: 50px;
		}
		a {
			display: block;
			float: left;
			color: #fff;
			font-weight: 600;
			font-size: 16px;
			padding: 15px 40px 15px 75px;
			position: relative;
			border-right: 2px solid #fff;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: -26px;
				width: 56px;
				height: 52px;
				transform: scale(0.707) rotate(45deg);
				z-index: 1;
				background: #375ebc;
				box-shadow: 3px -3px 0 0px white, 3px -3px 0 1px white;
				border-radius: 0 1px 0 50px;
			}
		}
	}
}

.appoitment {
	border-radius: 4px;
	border: 2px solid $color-blue-cornflower;
	text-align: center;
	padding: 45px 10px;
	color: $color-blue-cornflower;
	font-size: 18px;
	background: #fff;
	strong {
		font-weight: 600;
		display: block;
	}
	&__date {
		margin-bottom: 20px;
	}
}

@media (max-width: $screen-xs-max) {
	.booking-nav {
		li {
			display: inline-block;
			background: $color-blue-cornflower;
			float: left;
			&:first-child a {
				padding-left: 13px;
			}
			a {
				font-size: 12px;
				padding: 10px 15px 10px 40px;
				&:after {
					right: -18px;
					width: 41px;
					height: 46px;
					box-shadow: 1px -1px 0 0px white, 2px -2px 0 1px white;
					border-radius: 0 1px 0 50px;
					top: -3px;
				}
			}
		}
	}
}

