.contact-wrapp {
	margin: 40px 0 60px;
	-moz-box-shadow: 0 1px 5px #b1b1b1;
	-webkit-box-shadow: 0 1px 5px #b1b1b1;
	box-shadow: 0 1px 5px #b1b1b1;
	.col-sm-7 {
		padding-right: 0;
	}
	.col-sm-5 {
		padding-left: 0;
	}
}

.contact {
	background: #fafafa;
	padding: 75px 90px;
	font-size: 18px;
	&__title {
		text-transform: uppercase;
		margin-bottom: 20px;
		color: #454545;
	}

	&__info {
		padding: 0;
		list-style: none;
		li {
			margin-bottom: 22px;
			@extend %clearfix;
		}
		i {
			color: $color-blue-cornflower;
			vertical-align: top;
			font-size: 22px;
			width: 20px;
			text-align: center;
		}
		span, a {
			display: inline-block;
			padding-left: 10px;
			vertical-align: top;
			color: #696969;
		}
	}
}

.contact-form {
	background: #f2f6fa;
	padding: 30px 70px 3px 80px;
	label {
		font-weight: normal;
		font-size: 16px;
	}
	.form-control {
		border-radius: 3px;
	}
	textarea.form-control {
		height: 120px;
	}
	.btn-main {
		font-size: 16px;
	}
}

@media (max-width: $screen-sm-max) {
	.contact {
		padding: 30px 40px;
	}
    .contact-form {
    	padding: 30px 25px;
    }
}

@media (max-width: $screen-xs-max) {
	.contact-wrapp {
		.col-sm-7 {
			padding-right: 10px;
		}
		.col-sm-5 {
			padding-left: 10px;
		}
	}
	.contact {
		padding: 30px 20px;
		font-size: 16px;
	}
    .contact-form {
    	padding: 20px;
    }
}

