.doctor-signup {
	text-align: center;
	background: #fff;
	-moz-box-shadow: 0 2px 10px #999;
	-webkit-box-shadow: 0 2px 10px #999;
	box-shadow: 0 2px 10px #999;
	&__title {
		font-size: 36px;
		font-weight: 600;
		margin-bottom: 5px;
		color: $color-main;
		padding-top: 60px;
	}

	&__subTitle {
		margin-bottom: 20px;
		font-size: 25px;
		color: #454545;
		font-weight: 400;
	}

	&__des {
		font-size: 20px;
		margin-bottom: 50px;
	}

	&__img {
		max-width: 100%;
	}

	.btn {
		margin-bottom: 60px;
	}
}

@media (max-width: $screen-md-max) {
    .doctor-signup {
    	&__title {
    		padding-top: 50px;
    	}
    }
}

@media (max-width: $screen-xs-max) {
    .doctor-signup {
    	&__title {
    		padding-top: 30px;
    		font-size: 32px;
    	}

    	&__subTitle {
			font-size: 18px;
			margin-bottom: 15px;
		}

		&__des {
			font-size: 16px;
			margin-bottom: 25px;
		}

		.btn {
			margin-bottom: 40px;
		}
    }
}