.eshop-banner {
	margin: 35px 0 20px;
	-moz-box-shadow: 0 1px 3px #b1b1b1;
	-webkit-box-shadow: 0 1px 3px #b1b1b1;
	box-shadow: 0 1px 3px #b1b1b1;
}

.action-bar.action-bar-shop {
	margin: 0 0 20px;
	position: relative;
	.mega-menu {
		position: inherit;
		.dropdown {
			position: inherit;
		}
	}
}

.eshop {
	text-align: center;
	padding-bottom: 25px;
	&__icon {
		height: 108px;
		margin-bottom: 10px;
	}

	&__text {
		display: block;
		color: #fff;
	}
}

.eshop-wrap {
	text-align: center;
	padding-top: 50px;
	.btn-main {
		margin-top: 25px;
		background: $color-blue-cornflower;
	}
	&__title {
		border-bottom: 2px solid $color-blue-dodgle;
		text-align: center;
		margin: 15px 0 5px;
		font-size: 20px;
		font-weight: 400;
		span {
			position: relative;
			display: inline-block;
			padding: 0 30px;
			background: #fff;
			top: 12px;
		}
	}
	&-blue {
		padding-top: 30px;
		.eshop__text {
			color: $color-blue-cornflower;
			font-size: 18px;
		}
	}
}

@media (max-width: $screen-xs-max) {
    .eshop {
		&__icon {
			height: 65px;
		}
		&-wrap-blue {
			.eshop__text {
				font-size: 14px;
			}
		}
	}
}