.footer {
	color: #fff;
	&__body {
		background: $color-main;
		padding: 80px 0 40px;
	}
	&__title {
		font-size: 18px;
		margin-bottom: 15px;
		font-weight: 600;
	}

	&__links {
		list-style: none;
		padding: 0 0 30px;
		li {
			margin-bottom: 15px;
			a {
				color: #fff;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	&__info {
		font-size: 14px;
		border-top: 2px solid $color-blue-sky;
		padding-top: 50px;
		text-align: justify;
	}

	&__bottom {
		background: #0b3394;
		padding: 25px 0;
	}
}

.social {
	list-style: none;
	text-align: center;
	margin-bottom: 0;
	padding: 0;
	font-size: 18px;
	> span {
		font-weight: 600;
	}
	a {
		color: #fff;
		i {
			margin-right: 10px;
			font-size: 25px;
			vertical-align: middle;
		}
		span {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

@media (max-width: $screen-xs-max) {
    .step {
    	width: 100%;
    }

    .social {
		span {
			margin-bottom: 10px;
			display: block;
		}
    }
}





