.help {
	text-align: center;
	background: #f1f1f1;
	padding: 35px 15px;
	margin-bottom: 20px;
	&__icon {
		margin-bottom: 25px;
		img {
			height: 96px;
		}
	}
	&__title {
		font-size: 18px;
		margin-bottom: 10px;
	}

	&__des {
		font-size: 18px;
	}
}

#faq {
	margin-bottom: 60px;
}

@media (max-width: $screen-xs-max) {  
    .help {
		&__icon {
			margin-bottom: 25px;
			img {
				height: 65px;
			}
		}
		&__title {
			font-size: 18px;
		}

		&__des {
			font-size: 14px;
		}
	}
}