.linkList {
	list-style: none;
	padding: 40px 35px;
	font-size: 18px;
	border-top: 3px solid $color-blue-sky;
	margin-top: 10px;
	li {
		margin-top: 10px;
		a {
			color: $color-main;
			&:hover {
				text-decoration: underline;
			}
			&.active {
				font-weight: 600;
				text-decoration: underline;
			}
		}
		ul {
			list-style: none;
			li a {
				color: #454545;
			}
		}
	}	
}

@media (max-width: $screen-xs-max) {
	.linkList {
		padding: 20px 0;
		font-size: 14px;
		ul {
			padding-left: 20px;
		}
	}
}