.link-group {
	&__title {
		font-size: 50px;
		color: #454545;
		border-bottom: 2px solid $color-blue-cornflower;
		padding-left: 20px;
		font-weight: 500;
	}
	&__list {
		list-style: none;
		padding: 25px 20px;
		li {
			margin-bottom: 15px;
			font-size: 18px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			color: $color-main;
		}
		span {
			display: block;
			font-size: 18px;
		}
	}
}

.directory-wrap {
	max-width: 600px;
	margin: 0 auto;
	.dropdown .btn {
		margin-bottom: 15px;
	}
}

.directory-filter {
	list-style: none;
	padding: 0;
	border: 1px solid $color-blue-cornflower;
	li {
		display: inline-block;
		span {
			display: inline-block;
			padding: 5px;
			cursor: pointer;
			color: $color-blue-cornflower;
			&.active,
			&:hover {
				background: $color-blue-cornflower;
				color: #fff;
			}
		}
	}
}

.directory-title {
	font-weight: 600;
	color: #333;
	text-align: center;
	font-size: 18px;
	padding: 20px 0;
}

@media (max-width: $screen-xs-max) {
	.link-group {
		&__title {
			font-size: 32px;
			padding-left: 10px;
		}
		&__list {
			padding: 15px 0;
			li {
				font-size: 14px;
			}
			span {
				font-size: 14px;
			}
		}
	}
}