.line-bg {
	background: $color-main;
	.col-xs-3 {
		height: 5px;
	}
	&__main {
		background: $color-main;
	}

	&__cornflower {
		background: $color-blue-cornflower;
	}

	&__sky {
		background: $color-blue-sky;
	}

	&__dodgle {
		background: $color-blue-dodgle;
	}
}