.block-wrap {
	margin-bottom: 45px;
	-moz-box-shadow: 0 1px 5px #b1b1b1;
	-webkit-box-shadow: 0 1px 5px #b1b1b1;
	box-shadow: 0 1px 5px #b1b1b1;
	.col-sm-7 {
		padding-right: 0;
	}
	.col-sm-5 {
		padding-left: 0;
	}
	&__left {
		padding: 50px 90px;
		.doctor {
			padding: 0 0 20px;
			&__photo {
				border-radius: 6px;
				border-width: 2px;
				width: 157px;
			}

			&__right {
				strong {
					color: #333;
					font-weight: 600;
				}
			}
		}
	}

	&__right {
		padding: 30px 60px;
	}
}

.block-grey {
	background: #fafafa;
}

.block-light-blue {
	background: #f2f6fa;
}

.login {
	background: url(../img/bg-register.jpg) top left no-repeat;
	background-size: cover;
	padding: 120px 90px 140px;
	text-align: center;
	&__title {
		font-size: 24px;
		margin-bottom: 50px;
		color: $color-main;
		font-weight: 600;
	}
	.btn {
		text-transform: none;
	    max-width: 380px;
	    padding: 7px 15px;
	    margin: 0 auto;
	    background: none;
	    border: 2px solid $color-main;
	    color: $color-main;
	    i {
	    	float: right;
	    	margin-top: 3px;
	    }
	    &:hover {
	    	background: $color-main;
	    	color: #fff;
	    }
	}
}

.general-form {
	padding: 30px 60px;
	&__title {
		font-size: 18px;
		color: #333;
		text-align: center;
		margin-bottom: 10px;
		line-height: 1.3;
	}
	&__subTitle {
		color: $color-main;
		text-align: center;
	}
	&__note {
		font-size: 12px;
		text-align: center;
		margin-bottom: 5px;
		color: #626262;
		a {
			color: $color-blue-sky;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__text {
		display: block;
		font-size: 16px;
		&-highlight {
			color: $color-blue-sky;
			margin: 25px 0;
		}
		strong {
			color: $color-blue-cornflower;
			padding-left: 10px;
			font-weight: 600;
		}
	}
	label {
		font-weight: normal;
		font-size: 16px;
		color: #333;
	}
	.checkbox label {
		font-size: 14px;
	}
	.form-control {
		border-radius: 3px;
	}
	textarea.form-control {
		height: 120px;
	}
	.btn-main {
		font-size: 16px;
	}
	.forgot-password {
		float: right;
		color: $color-blue-sky;
		display: inline-block;
		margin-top: -5px;
		font-size: 14px;
		&:hover {
			text-decoration: underline;
		}
	}
	.radio-inline + .radio-inline,
	.checkbox-inline + .checkbox-inline {
		margin-left: 20px;
	}
}

.btn-social {
	padding: 8px;
	-moz-box-shadow: 0 1px 1px #666;
	-webkit-box-shadow: 0 1px 1px #666;
	box-shadow: 0 1px 1px #666;
	i {
		font-size: 20px;
		vertical-align: middle;
		margin-right: 15px;
	}
	span {
		font-size: 16px;
	}
}

@media (max-width: $screen-sm-max) {
	.login {
		padding: 80px 40px 100px;
	}
    .general-form {
    	padding: 30px 20px;
    }
    .block-wrap {
		&__left {
			padding: 30px 20px;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.login {
		padding: 30px 20px 45px;
		&__title {
			font-size: 22px;
		}
		.btn {
			display: inline-block;
			width: auto;
			font-size: 16px;
			padding-left: 20px;
			padding-right: 10px;
			span {
				display: inline-block;
				vertical-align: middle;
			}
			i {
				margin-left: 15px;
				font-size: 20px;
				vertical-align: middle;
			}
		}
	}
	.block-wrap {
		.col-sm-7 {
			padding-right: 10px;
		}
		.col-sm-5 {
			padding-left: 10px;
		}
	}
	.btn-social {
		margin-bottom: 10px;
	}
}


