.navbar {
	&-brand {
		display: block;
		padding: 6px 15px;
		margin-top: 15px;
		img {
			height: 50px;
		}
	}
	&__links {
		list-style: none;
		padding: 0;
		margin: 17px 0 0;
		li {
			a {
				font-weight: 600;
				color: $color-main;
				i, span {
					display: inline-block;
					vertical-align: middle;
				}
				i {	
					margin-right: 7px;
				}
			}
		}
	}
}

.btn-login {
	background: $color-main;
	color: #fff;
	text-transform: none;
	a {
		color: #fff;
	}
}

@media (max-width: $screen-xs-max) {
    .navbar {
    	&-brand {
    		margin-bottom: 5px;
			img {
				height: 30px;
			}
		}
		&__links {
			font-size: 13px;
		}
    }
    .navbar-header {
    	float: left;
    }
}

@media (max-width: 460px) {
	.navbar-header {
    	float: none;
    }
    .navbar {
    	&-brand {
			img {
				height: 50px;
			}
		}
		&__links {
			font-size: 13px;
			float: left !important;
			margin-top: 5px;
		}
    }
    .btn-login {
    	font-size: 12px;
    	padding: 5px 10px;
    	margin: 12px 0 0;
    	border-width: 1px;
    }
}