.product-wrap {
	&-best {
		.product {
			background: #f1f1f1;
			padding: 15px 15px 15px 25px;
			margin-bottom: 15px;
			&__img {
				width: 140px;
				height: 140px;
				img {
					width: 140px;
					height: 140px;
				}
			}
		}
	}
}

.product {
	display: table;
	margin-bottom: 35px;
	font-size: 18px;
	color: #454545;
	width: 100%;
	&:last-child {
		margin-bottom: 25px;
	}
	&__img {
		display: table-cell;
		vertical-align: middle;
		width: 155px;
		height: 155px;
		img {
			width: 155px;
			height: 155px;
			border: 1px solid $color-blue-cornflower;
			border-radius: 10px;
		}
	}

	&__content {
		display: table-cell;
		vertical-align: top;
		padding: 10px 0 0 25px;
		position: relative;
		&__title {
			margin-bottom: 10px;
			font-size: 18px;
		}

		&__des {
			margin-bottom: 25px;
			line-height: 22px;
		}

		&__price {
			color: $color-blue-cornflower;
			font-weight: 700;
		}
	}

	.btn {
		position: absolute;
		right: 0;
		bottom: 0;
		background: $color-blue-cornflower;
		padding: 10px 20px;
		font-size: 18px;
	}
}

@media (max-width: $screen-sm-max) {
	.product {
		font-size: 16px;
		&__img {
			width: 125px;
			height: 125px;
			img {
				width: 125px;
				height: 125px;
			}
		}
		&__content {
			&__title {
				font-size: 16px;
			}

			&__des {
				margin-bottom: 15px;
			}

			&__price {
				margin-bottom: 20px;
			}
		}
		.btn {
			position: relative;
			font-size: 14px;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.product-wrap-best .product {
		padding: 0 10px 10px;
		&__img {
			width: 100px;
			height: 100px;
			img {
				width: 100px;
				height: 100px;
				border-radius: 5px;
			}
		}
	}

    .product {
		font-size: 14px;
		&__img {
			width: 100px;
			height: 100px;
			img {
				width: 100px;
				height: 100px;
				border-radius: 5px;
			}
		}

		&__content {
			padding-left: 15px;
			&__title {
				margin-bottom: 7px;
			}

			&__des {
				margin-bottom: 10px;
				line-height: 1.4;
			}

			&__price {
				display: block;
				margin-bottom: 15px;
			}
		}

		.btn {
			padding: 5px 15px;
			font-size: 14px;
			position: relative;
		}
	}
}
