.related {
	text-align: center;
	margin-bottom: 30px;
	&__img {
		width: 100%;
		margin-bottom: 23px;
		border-radius: 10px;
	}

	&__title {
		font-size: 18px;
		a {
			color: #696969;
			font-weight: 400;
			line-height: 1.35;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.related {
		&__img {
			border-radius: 5px;
			margin-bottom: 10px;
		}

		&__title {
			font-size: 14px;
		}
	}
}