.room-list {
	margin-bottom: 30px;
	.slick-prev:before,
	.slick-next:before {
		font-size: 22px;
		color: #696969;
	}
	.slick-prev {
	    left: -20px;
	    top: 28px;
	}
	.slick-next {
	    right: -13px;
	    top: 28px;
	}
}

.room {
	font-size: 15px;
	&__title {
		margin-bottom: 3px;
		font-size: 16px;
	}
	&__des {
		display: block;
		line-height: 1.2;
		margin-bottom: 5px;
	}
	&__list {
		@extend %clearfix;
		img {
			float: left;
			width: 31%;
			margin-right: 5px;
		}
	}
}


@media (max-width: $screen-xs-max) {
	.room {
		font-size: 14px;
		&__title {
			font-size: 14px;
		}
	}

}