.search {
	padding: 80px 0 180px;
	background: url(../img/banner.jpg) center center no-repeat;
	background-size: cover;
	text-align: center;
	&__form {
		max-width: 800px;
		margin: 0 auto;
		&__title {
			padding: 20px 0;
			font-size: 45px;
			margin-bottom: 30px;
			background-color: rgba(255,255,255, 1);
			color: $color-main;
			border: 5px solid $color-main;
		}
		.form-control {
			height: 60px;
			border: 5px solid $color-main;
			font-size: 16px;
			border-right: none;
			position: relative;
			z-index: 99;
			&.autocomplete-specialty {
				border-right: 5px solid $color-main;
			}
		}
		.col-sm-4 {
			position: relative;
			.search__form__text {
				position: absolute;
				right: -15px;
				bottom: 0;
				background: $color-blue-cornflower;
				color: #fff;
				height: 100%;
				text-align: center;
				display: block;
				width: 70px;
				z-index: 999;
				font-weight: 600;
				font-size: 22px;
				padding-top: 13px;
			}
		}
		.input-group-btn {
			position: relative;
			z-index: 999;
		}
		.btn-search {
			background: $color-main;
			color: #fff;
			text-transform: uppercase;
			height: 60px;
			font-weight: 600;
			font-size: 25px;
			padding: 6px 20px;
			position: relative;
			z-index: 1000;
			&:after {
				right: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(55, 94, 188, 0);
				border-right-color: $color-main;
				border-width: 10px;
				margin-top: -10px;
				z-index: 1000;
			}
		}
	}
}

.search-wrap {
	border: 1px solid $color-main;
	padding: 10px 20px 60px;
	margin-top: 60px;
	position: relative;
	text-align: center;
}

.block-grey {
	.search-wrap {
		padding: 5px 0 35px;
	}
}

@media (max-width: $screen-sm-max) {
    .search {
    	&__form {
	    	.form-control {
	    		font-size: 14px;
	    	}
	    	.btn-search {
	    		font-size: 16px;
	    	}
	    	.col-sm-4 {
				.search__form__text {
					font-size: 15px;
					padding-top: 20px;
				}
			}
    	}
    }

    .search-wrap {
    	border: none;
    	padding-bottom: 10px;
    }
}

@media (max-width: $screen-xs-max) {
    .search {
    	padding: 40px 0;
    	&__form {
    		&__title {
	    		font-size: 36px;
	    		letter-spacing: 3px;
	    	}
	    	.col-sm-4 {
				.search__form__text {
					padding-top: 18px;
					right: 10px;
					height: 55px;
				}
			}
			.autocomplete-specialty {
				border-bottom: none;
				height: 55px;
			}
    	}
    }

    .search-wrap {
    	border: none;
    	padding-bottom: 10px;
    }
}

.result {
	margin-bottom: 80px;
	&__highlight {
		position: absolute;
		background: $color-green;
		display: inline-block;
		padding: 4px 10px;
		border-radius: 0 0 5px 5px;
		color: #fff;
		font-weight: 600;
		font-size: 18px;
		top: 0;
		left: 30px;
		i {
			margin-right: 10px;
		}
	}
	&__title {
		text-align: center;
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 35px;
		border-bottom: 2px solid $color-main;
		span {
			position: relative;
			background: #fff;
			padding: 0 20px;
			top: 11px;
			display: inline-block;
		}
	}
	&__head {
		border: 1px solid #ddd;
		padding: 5px 10px;
		-moz-box-shadow: 0 1px 5px #ddd;
		-webkit-box-shadow: 0 1px 5px #ddd;
		box-shadow: 0 1px 5px #ddd;
		margin-bottom: 20px;
		background: #fff;
		&__text {
			padding: 15px 0 0 10px;
			display: inline-block;
		}
	}

	&__item {
		border: 1px solid #ddd;
		padding: 5px 10px;
		-moz-box-shadow: 0 1px 5px #ddd;
		-webkit-box-shadow: 0 1px 5px #ddd;
		box-shadow: 0 1px 5px #ddd;
		margin-bottom: 20px;
		background: #fafafa;
		border-radius: 3px 3px 0 0;
		position: relative;
		&.old {
			background: $color-blue-light;
		}
		.tbl-wrapper {
			padding-top: 20px;
		}
	}
}

.tbl-wrapper {
	position: relative;
	.prevCalendar,
	.nextCalendar {
		position: absolute;
		top: 20px;
	}
	.nextCalendar {
		right: 0;
	}
	&-highlight {
		margin: 0 -15px;
		padding: 0 15px;
		background: #fff;
		.nextCalendar {
			right: 10px;
		}
		.prevCalendar {
			left: 10px;
		}
	}
}

.calendar-tbl {
	margin-bottom: 0;
	thead tr th {
		text-align: center;
		border-bottom: none;
		span {
			display: block;
			font-weight: 400;
			text-transform: uppercase;
			font-size: 14px;
			color: #333;
		}
	}
	tbody tr td {
		text-align: center;
		border-top: none;
	}
	a {
		background: #efecec;
		display: inline-block;
		padding: 5px;
		color: #696969;
		width: 90px;
		text-align: center;
		border-radius: 3px;
		margin-bottom: 10px;
		font-size: 14px;
		border-bottom: 2px solid $color-main;
		&:hover {
			background: $color-blue-cornflower;
			color: #fff;
		}
		&.disabled {
			background: #ededed;
			color: #dadada;
			border-bottom: 2px solid #ededed;
			cursor: default;
		}
		&.more {
			background: none;
			border: none;
			color: $color-main;
			&:hover {
				color: $color-blue-cornflower;
			}
		}
	}
}

.doctor {
	padding: 45px 0 20px 20px;
	@extend %clearfix; 
	&__left {
		float: left;
		max-width: 157px;
	}

	&__right {
		padding-left: 180px;
	}

	&__photo {
		border: 1px solid $color-main;
		border-radius: 6px 6px 0 0;
		&-radius {
			border-radius: 6px;
		}
	}

	&__name {
		color: $color-main;
		font-size: 20px;
		margin-bottom: 5px;
		i {
			margin-left: 10px;
			color: $color-green;
		}
	}

	&__detail-link {
		background: $color-main;
		color: #fff;
		display: block;
		text-align: center;
		padding: 10px 0;
		border-radius: 0 0 6px 6px;
		font-size: 16px;
		&:hover, &:focus {
			color: #fff;
			background: $color-blue-cornflower;
		}
	}

	&__short-info {
		font-size: 16px;
		display: block;
		margin-bottom: 15px;
	}

	&__favourite {
		display: block;
		background: $color-blue-dodgle;
		padding: 5px 10px;
		text-align: center;
		color: #fff;
		border-radius: 6px;
		margin-top: 7px;
		font-size: 14px;
		&:hover, &:focus {
			color: #fff;
		}
		i {
			margin-right: 5px;
		}
	}

	&__more {
		color: $color-main;
		display: inline-block;
		i {
			margin-left: 5px;
		}
		&:hover, &:focus {
			text-decoration: underline;
			color: $color-main;
		}
	}

	&__package {
		margin-top: 7px;
		padding: 3px 0 3px 15px;
		border: 2px solid $color-main;
		color: $color-main;
		display: block;
		width: 157px;
		border-radius: 6px;
		i, span {
			display: inline-block;
			vertical-align: middle;
		}
		i {
			font-size: 30px;
			margin-right: 15px;
		}
		span {
			max-width: 90px;
			font-size: 15px;
		}
		&:hover {
			color: #fff;
			background: $color-main;
		}
	}

	&__info {
		-moz-box-shadow: 0 1px 5px #ddd;
		-webkit-box-shadow: 0 1px 5px #ddd;
		box-shadow: 0 1px 5px #ddd;
		margin: 0 10px;
		padding: 20px;
		margin-bottom: 30px;
		display: none;
		position: relative;
		&__title {
			margin-bottom: 10px;
			color: #333;
			img {
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
				height: 20px;
			}
			span {
				display: inline-block;
				vertical-align: middle;
			}
			i {
				margin-right: 10px;
			}
		}

		&__des {
			text-align: justify;
		}

		&__overlay {
			position: absolute;
			text-align: center;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 60%;
			background: rgba(250,250,255,0.58);
			background: -moz-linear-gradient(top, rgba(250,250,255,0) 0%, rgba(250,250,250,0.9) 19%, rgba(250,250,250,0.96) 38%, rgba(250,250,250,1) 66%, rgba(250,250,250,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,255,0)), color-stop(19%, rgba(250,250,250,0.9)), color-stop(38%, rgba(250,250,250,0.96)), color-stop(66%, rgba(250,250,250,1)), color-stop(100%, rgba(250,250,250,1)));
			background: -webkit-linear-gradient(top, rgba(250,250,255,0) 0%, rgba(250,250,250,0.9) 19%, rgba(250,250,250,0.96) 38%, rgba(250,250,250,1) 66%, rgba(250,250,250,1) 100%);
			background: -o-linear-gradient(top, rgba(250,250,255,0) 0%, rgba(250,250,250,0.9) 19%, rgba(250,250,250,0.96) 38%, rgba(250,250,250,1) 66%, rgba(250,250,250,1) 100%);
			background: -ms-linear-gradient(top, rgba(250,250,255,0) 0%, rgba(250,250,250,0.9) 19%, rgba(250,250,250,0.96) 38%, rgba(250,250,250,1) 66%, rgba(250,250,250,1) 100%);
			background: linear-gradient(to bottom, rgba(250,250,255,0) 0%, rgba(250,250,250,0.9) 19%, rgba(250,250,250,0.96) 38%, rgba(250,250,250,1) 66%, rgba(250,250,250,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafaff', endColorstr='#fafafa', GradientType=0 );
			a {
				color: $color-blue-dodgle;
				text-decoration: underline;
				display: inline-block;
				top: 60%;
				left: 50%;
				margin-left: -42px;
				font-weight: 600;
				position: absolute;
			}
		}
	}

	&__clinic {
		background: #fff;
		padding: 15px 15px 1px 30px;
		.room-list .slick-next {
			right: -8px;
		}
		.room-list .slick-prev {
			left: -25px;
		}
	}
}

.result__item.old .doctor__info__overlay {
	background: rgba(242,245,250,0.71);
	background: -moz-linear-gradient(top, rgba(242,245,250,0) 0%, rgba(242,245,250,0.71) 19%, rgba(242,245,250,0.88) 10%, rgba(242,245,250,0.92) 22%, rgba(242,245,250,0.95) 44%, rgba(242,245,250,1) 69%, rgba(242,245,250,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,245,250,0.71)), color-stop(19%, rgba(242,245,250,0.71)), color-stop(10%, rgba(242,245,250,0.88)), color-stop(22%, rgba(242,245,250,0.92)), color-stop(44%, rgba(242,245,250,0.95)), color-stop(69%, rgba(242,245,250,1)), color-stop(100%, rgba(242,245,250,1)));
	background: -webkit-linear-gradient(top, rgba(242,245,250,0) 0%, rgba(242,245,250,0.71) 19%, rgba(242,245,250,0.88) 10%, rgba(242,245,250,0.92) 22%, rgba(242,245,250,0.95) 44%, rgba(242,245,250,1) 69%, rgba(242,245,250,1) 100%);
	background: -o-linear-gradient(top, rgba(242,245,250,0) 0%, rgba(242,245,250,0.71) 19%, rgba(242,245,250,0.88) 10%, rgba(242,245,250,0.92) 22%, rgba(242,245,250,0.95) 44%, rgba(242,245,250,1) 69%, rgba(242,245,250,1) 100%);
	background: -ms-linear-gradient(top, rgba(242,245,250,0) 0%, rgba(242,245,250,0.71) 19%, rgba(242,245,250,0.88) 10%, rgba(242,245,250,0.92) 22%, rgba(242,245,250,0.95) 44%, rgba(242,245,250,1) 69%, rgba(242,245,250,1) 100%);
	background: linear-gradient(to bottom, rgba(242,245,250,0) 0%, rgba(242,245,250,0.71) 19%, rgba(242,245,250,0.88) 10%, rgba(242,245,250,0.92) 22%, rgba(242,245,250,0.95) 44%, rgba(242,245,250,1) 69%, rgba(242,245,250,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5fa', endColorstr='#f2f5fa', GradientType=0 );	
}

.filter {
	margin-top: 20px;
}

.dropdown {
	.btn {
		border: 1px solid $color-blue-cornflower;
		color: #333;
		display: block;
		width: 100%;
		font-weight: 600;
		text-transform: none;
		font-size: 18px;
		height: 45px;
		margin-bottom: 40px;
		&:focus {
			outline: none;
		}
	}
	&.open .btn {
		background: $color-main;
		color: #fff;
		outline: none;
	}
	.dropdown-menu {
		min-width: 0;
		margin-top: 10px;
		width: 100%;
		border: 1px solid $color-main;
		padding: 0;
		z-index: 9999;
		li {
			padding: 7px 15px;
			color: #333;
			font-size: 15px;
			&:hover {
				background: $color-main;
				color: #fff;
				span, a {
					color: #fff;
				}
			}
			.checkbox {
				margin: 0;
				label {
					display: block;
				}
			}
		}
		span, a {
			padding: 5px 15px;
			color: #333;
			font-size: 15px;
			display: block;
			cursor: pointer;
			&:hover {
				background: $color-main;
				color: #fff;
			}
		}
	}
}

@media (max-width: $screen-sm-max) {
	.calendar-tbl {
		strong {
			color: #333;
			font-size: 14px;
			margin-bottom: 10px;
			display: block;
		}
	}
	.room__title,
	.room__des {
		padding-left: 10px;
		text-align: center;
	}
	.room__list {
		margin-left: 13px;
		img {
			margin-right: 2%;
		}
	}
	.room-list {
		.slick-prev {
			left: -10px;
		}
		.slick-next {
			right: -10px;
		}
	}
	.table-caption {
		margin-bottom: 10px;
		span {
			display: block;
			font-size: 14px;
			color: #333;
			&:first-child {
				font-weight: 600;
			}
		}
	}
}

.dropdown .filter-availability {
	width: auto;
	padding: 0;
	.days,
	.hours {
		white-space: nowrap;
		padding: 0;
		&:hover {
			background: none;
			color: #333;
		}
	}
	.hours {
		padding: 15px 40px 20px;
		&__range {
			float: left;
			margin: 0 0 10px -25px;
			&:last-child {
				float: right;
				margin-left: auto;
				margin-right: -25px;
			}
		}
	}
	.day {
		display: inline-block;
		text-align: center;
		text-transform: uppercase;
		width: 40px;
		padding: 8px 0;
		&:hover,
		&.active {
			background: $color-blue-cornflower;
			color: #fff;
			cursor: pointer;
		}
	}
}

.noUi-background {
	background: #ddd;
}

.noUi-horizontal .noUi-handle {
	width: 15px;
	height: 15px;
	left: -7px;
	border-radius: 15px;
	&:after,
	&:before {
		display: none;
	}
}

.noUi-target {
	border: none;
	box-shadow: none;
	height: 2px;
}

.noUi-connect {
	background: $color-main;
}

@media (max-width: $screen-xs-max) {
	.doctor {
		padding: 35px 0 0 0;
		&__name {
			font-size: 18px;
		}

		&__short-info {
			font-size: 14px;
		}

		&__detail-link {
			font-size: 14px;
		}

		&__left {
			float: none;
			text-align: center;
			max-width: none;
		}

		&__photo {
			display: inline-block;
			margin-bottom: 7px;
		}

		&__favourite {
			padding: 9px;
			font-size: 14px;
		}

		&__package {
			width: 100%;
			padding-left: 0;
			span {
				font-size: 14px;
			}
		}

		&__right {
			padding: 20px 0 0;
		}

		&__info .col-sm-6 {
			margin-bottom: 20px;
			font-size: 14px;
			&__title {
				font-size: 16px;
			}
		}

		&__more {
			font-size: 15px;
		}
	}

    .dropdown {
    	.btn {
    		margin-bottom: 10px;
    	}
    }

    .calendar-tbl {
    	tbody tr td {
	    	display: block;
	    }
	    a {
	    	margin: 0 5px 10px;
	    }
	    .table-caption {
	    	margin-bottom: 10px;
	    	color: #333;
	    	font-weight: 400;
	    }
	}

	.result {
		&__highlight {
			font-size: 16px;
		}
	}
}



