.block {
	padding: 60px 0;
	&-md {
		padding: 40px 0 0;
	}
	&-no-padding-top {
		padding-top: 0;
	}
	&__title {
		text-transform: uppercase;
		text-align: center;
		color: $color-main;
		font-size: 36px;
		margin-bottom: 30px;
		letter-spacing: 5px;
		&-md {
			font-size: 30px;
			margin-bottom: 25px;
		}
		&-simple {
			text-transform: none;
			margin-bottom: 60px;
		}
	}

	&__subTitle {
		color: $color-main;
		text-align: center;
		font-size: 24px;
		font-weight: 400;
		position: relative;
		display: inline-block;
		background: #fff;
		top: -25px;
		padding: 0 25px;
	}

	&__des {
		text-align: center;
		font-size: 18px;
		padding: 0 10px;
		&-md {
			margin-top: -15px;
			margin-bottom: 30px;
		}
	}

	&-result {
		padding: 40px 0;
	}

	&-grey {
		background: #f1f1f1;
		.block__subTitle {
			background: #eff2f5;
			top: -20px;
		}
	}

	&-main {
		background: $color-main;
		color: #fff;
		.block__title {
			color: #fff;
		}
	}

	&-bg-image {
		position: relative;
		.container {
			position: relative;
			z-index: 2;
		}
		.block__title,
		.block__des {
			color: #fff;
			position: relative;
			z-index: 2;
		}
	}

	&-filter {
		padding-bottom: 0;
	}

	&__img {
		-moz-box-shadow: -1px 1px 5px #999;
		-webkit-box-shadow: -1px 1px 5px #999;
		box-shadow: -1px 1px 5px #999;
		margin: 35px 0;
	}
}

.community__des {
	margin-bottom: 60px;
}

.group {
	margin-top: 25px;
	&__title {
		font-size: 20px;
		padding: 10px 0 20px;
		color: #00234B;
		font-weight: 600;
		&:after {
			content: " ";
			height: 3px;
			display: block;
			position: relative;
			top: 5px;
		}
		&-1 {
			&:after {
				background: $color-blue-sky;
			}
		}
		&-2 {
			&:after {
				background: $color-blue-dodgle;
			}
		}
		&-3 {
			&:after {
				background: $color-blue-cornflower;
			}
		}
		&__icon {
			display: inline-block;
			vertical-align: middle;
			width: 64px;
		}
	}

	&__link {
		list-style: none;
		padding: 20px;
		&-1 {
			background: $color-blue-sky;
		}
		&-2 {
			background: $color-blue-dodgle;
		}
		&-3 {
			background: $color-blue-cornflower;
		}
		li {
			margin-bottom: 10px;
			a {
				color: #fff;
				&:hover {
					text-decoration: underline;
				}
				&.view-all {
					color: #fff;
					font-weight: 600;
					text-decoration: underline;
				}
			}
		}
	}
}

.box {
	border: 1px solid #ddd;
	padding: 20px 15px;
	-moz-box-shadow: 0 1px 5px #ddd;
	-webkit-box-shadow: 0 1px 5px #ddd;
	box-shadow: 0 1px 5px #ddd;
	margin-bottom: 20px;
	background: #fafafa;
	border-radius: 3px 3px 0 0;
	position: relative;
	&-booking {
		padding-bottom: 0;
	}
	&__head {
		text-align: center;
		margin: -10px 0 10px;
		&__text {
			color: #f00909;
			font-weight: 600;
		}
		&__tag {
			position: absolute;
		    background: #4baf4f;
		    display: inline-block;
		    padding: 4px 10px;
		    border-radius: 0 0 5px 5px;
		    color: #fff;
		    font-weight: 600;
		    font-size: 18px;
		    top: 0;
    		left: 15px;
    		i {
    			margin-right: 10px;
    		}
		}
	}
}

@media (max-width: $screen-sm-max) {
    .box-booking {
    	padding-top: 52px;
    	.room__list {
    		margin: 0;
    	}
    }
}

@media (max-width: $screen-xs-max) {
    .block {
    	padding: 40px 0;
    	&__title {
    		font-size: 28px;
    	}
    }
}

.mb-35 {
	margin-bottom: 35px;
}