.block-steps {
	padding: 0;
	.block__title {
		padding: 20px 15px;
		margin-bottom: 0;
	}
}

.steps {
    @extend %clearfix;
}

.step {
	width: 33.33333%;
	float: left;
	color: #fff;
	text-align: center;
	&__inner {
		padding: 20px 10px;
	}

	&__text {
		display: inline-block;
		vertical-align: middle;
		width: 60%;
        font-size: 18px;
	}

	&__icon {
		height: 80px;
		vertical-align: middle;
		margin-left: 20px;
	}

	&__number {
		width: 30px;
		height: 30px;
		text-align: center;
		border: 3px solid #fff;
		color: #fff;
		border-radius: 50%;
		display: inline-block;
		padding-top: 1px;
		font-weight: 600;
		vertical-align: middle;
	}

	&-1 {
		background: $color-blue-sky;
	}

	&-2 {
		background: $color-blue-dodgle;
	}

	&-3 {
		background: $color-blue-cornflower;
	}

}

.block-steps-alignleft {
    .step {
        margin-bottom: 15px;
    }
}
@media (min-width: 1201px) {
    .block-steps-alignleft {
        .step {
            text-align: left;
            &__inner {
                padding: 40px 0 40px 30px;
            }
            &__icon {
                margin-right: 20px;
                height: 65px;
            }
            &__text {
                width: 55%;
            }
        }
    }
}

@media (max-width: 1200px) {
    .step {
    	text-align: center;
    	&__icon {
    		margin: 15px auto;
    		display: block;
    	}
    	&__text {
    		width: 80%;
    		margin: 0 auto;
    	}
    }
}

@media (max-width: $screen-xs-max) {
    .step {
        &__icon {
            height: 65px;
        }
        &__text {
            font-size: 14px;
        }
    }
}
