section.block.block-steps
	h2.block__title.block__title-simple Book an appointment in just 3 easy steps!
	.container
		.steps
			.step.step-1(data-mh='step')
				.step__inner
					span.step__number 1
					img.step__icon(src='assets/img/icons/doctor.png' alt='Doctor')
					span.step__text Search by doctor name, specialty, or symptom
			.step.step-2(data-mh='step')
				.step__inner
					span.step__number 2
					img.step__icon(src='assets/img/icons/schedule.png' alt='Schedule')
					span.step__text Review results and select a convenient time &amp; date 
			.step.step-3(data-mh='step')
				.step__inner
					span.step__number 3
					img.step__icon(src='assets/img/icons/book.png' alt='Book')
					span.step__text Book appointment and get instant confirmation
					
