section.block.block-md
	.container
		h2.block__title.block__title-md About Us
		p.block__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet urna feugiat<br> mattis justo eu, vulputate sem. Maecenas ut pretium eros, sed volutpat lorem.

		img.block__img.img-responsive(src='assets/img/about.jpg' alt='')
		.about-wrap
			h3.title-border.title-border-center: span 5 Divisions of 65Doctor
			.about-list
				.about
					.about__icon
						img(src='assets/img/icons/ear.png' alt='')
					.about__content
						h4.about__content__title 65doctor.com
						.about__content__des A FREE service for booking doctor appointments online<br>Hundreds of qualified Singapore specialist doctors, dentists &amp; TCM physicians.<br>Very convenient! Instant confirmation in Just 3 clicks!
				.about
					.about__icon
						img(src='assets/img/icons/shop.png' alt='')
					.about__content
						h4.about__content__title 65doctor eShop
						.about__content__des Browse &amp; buy medical services &amp; products online with FREE delivery
				.about
					.about__icon
						img(src='assets/img/icons/design.png' alt='')
					.about__content
						h4.about__content__title 65doctor Design Solutions
						.about__content__des A customised elegant one stop IT solution for doctors and clinics
				.about
					.about__icon
						img(src='assets/img/icons/academy.png' alt='')
					.about__content
						h4.about__content__title 65doctor Academy
						.about__content__des Our commitment to continuing medical education &amp; patient education programs 
				.about
					.about__icon
						img(src='assets/img/icons/merchant.png' alt='')
					.about__content
						h4.about__content__title 65doctor Merchant Partners
						.about__content__des Our partnership with selected merchants

			
			.row
				.col-sm-7
					.about-info
						h4.about-info__title Our name
						p.about-info__des +65 is Singapore’s country code and 1965 is Singapore’s year of independence, so go to 65doctor.com to look for Singapore doctors!
				.col-sm-5
					.about-info.about-info-border
						h4.about-info__title Contact us
						ul.about-info__contact
							li
								i.fa.fa-envelope-o
								a(href='mailto:enquiry@65doctor.com') enquiry@65doctor.com
							li
								i.fa.fa-phone
								span +65 6473 8123
							li
								i.fa.fa-map-marker
								span 20 Science Park Road<br>#01-23/25, Teletech Park<br>Singapore 117674

