section.block
	h2.block__title HEALTH ARTICLES
	p.block__des Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Maecenas sit amet nunc ut quam placerat sagittis eget vestibulum nisi.

	.container
		.article-list
			.article
				.row
					.col-sm-6: img.article__img(src='assets/img/post.jpg' alt='')
					.col-sm-6
						h3.article__title Neque porro quisquam est qui dolorem ipsum.
						.article__des Fusce vestibulum, sem a vulputate tristique, ex diam cursus nibh, nec mollis dolor libero in sem. Praesent elit ipsum, fermentum in consequat id, eleifend consequat metus. Cras consequat risus ut nunc tempor varius. Sed imperdiet ex id neque consectetur ultricies. Donec molestie tincidunt nunc in vulputate.
						span.article__author: i Written by: Dr Morbi Porta Mauris
						a.article__link(href='article.detail.html')
							span Read more
							i.fa.fa-angle-right
			.article
				.row
					.col-sm-6: img.article__img(src='assets/img/post.jpg' alt='')
					.col-sm-6
						h3.article__title Neque porro quisquam est qui dolorem ipsum.
						.article__des Fusce vestibulum, sem a vulputate tristique, ex diam cursus nibh, nec mollis dolor libero in sem. Praesent elit ipsum, fermentum in consequat id, eleifend consequat metus. Cras consequat risus ut nunc tempor varius. Sed imperdiet ex id neque consectetur ultricies. Donec molestie tincidunt nunc in vulputate.
						span.article__author: i Written by: Dr Morbi Porta Mauris
						a.article__link(href='article.detail.html')
							span Read more
							i.fa.fa-angle-right
			.article
				.row
					.col-sm-6: img.article__img(src='assets/img/post.jpg' alt='')
					.col-sm-6
						h3.article__title Neque porro quisquam est qui dolorem ipsum.
						.article__des Fusce vestibulum, sem a vulputate tristique, ex diam cursus nibh, nec mollis dolor libero in sem. Praesent elit ipsum, fermentum in consequat id, eleifend consequat metus. Cras consequat risus ut nunc tempor varius. Sed imperdiet ex id neque consectetur ultricies. Donec molestie tincidunt nunc in vulputate.
						span.article__author: i Written by: Dr Morbi Porta Mauris
						a.article__link(href='article.detail.html')
							span Read more
							i.fa.fa-angle-right

		.text-center
			a.btn.btn-main(href='articles.html') View All Article