section.block
	.container
		h2.block__title Insights within the medical community.

		.carousel
			.carousel__item
				img(src='assets/img/slider/item01.jpg' alt='')
			.carousel__item
				img(src='assets/img/slider/item02.jpg' alt='')
			.carousel__item
				img(src='assets/img/slider/item03.jpg' alt='')
			.carousel__item
				img(src='assets/img/slider/item01.jpg' alt='')
			.carousel__item
				img(src='assets/img/slider/item02.jpg' alt='')
			.carousel__item
				img(src='assets/img/slider/item03.jpg' alt='')

		p.community__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet elementum nibh, et rhoncus enim. Duis aliquam, libero eget aliquam faucibus, lectus massa ultrices est, vitae finibus mi ligula sit amet ante. Praesent at fermentum nulla, placerat cursus mi. Vestibulum imperdiet, tortor at convallis porttitor, sem dolor ullamcorper arcu, ut lobortis arcu justo eget orci.

		.text-center
			a.btn.btn-main(href='#') View newsletters

		//- .search-wrap
		//- 	h3.block__subTitle Join our ever growing community of doctors<br>and receive a bi-monthly newsletter
		//- 	form.search__form
		//- 		.input-group
		//- 			input.form-control(type='text' placeholder='Enter your email address')
		//- 			.input-group-btn
		//- 				button.btn.btn-search(type='submit') subscribe