section.block.block-grey
	.container
		.doctor-signup
			.row
				.col-md-5.col-sm-7
					h2.doctor-signup__title Are you a doctor?
					p.doctor-signup__subTitle Join our growing community!
					p.doctor-signup__des Attract and engage new patients<br>Build and strengthen your online reputation<br>Deliver a premium experience patients love
					a.btn.btn-border(href='register.html') Sign Up as Doctor
				.col-md-7.col-sm-5
					img.doctor-signup__img(src='assets/img/app.jpg' alt='')