section.block.block-bg-image.block-lounge
	.overlay
	h2.block__title Doctor's Lounge
	.container
		p.block__des Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Maecenas sit amet nunc ut quam placerat sagittis eget vestibulum nisi.