section.block.block-main.block-eshop
	h2.block__title Eshop
	p.block__des Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Maecenas sit amet nunc ut quam placerat sagittis eget vestibulum nisi.
	.container.eshop-wrap
		.row
			.col-xs-6.col-sm-4.col-md-15
				.eshop
					img.eshop__icon(src='assets/img/icons/vitamins.png' alt='Vitamins')
					span.eshop__text Vitamins
			.col-xs-6.col-sm-4.col-md-15
				.eshop
					img.eshop__icon(src='assets/img/icons/heart.health.png' alt='Vitamins')
					span.eshop__text Heart Health
			.col-xs-6.col-sm-4.col-md-15
				.eshop
					img.eshop__icon(src='assets/img/icons/dental.png' alt='Dental')
					span.eshop__text Dental
			.col-xs-6.col-sm-4.col-md-15
				.eshop
					img.eshop__icon(src='assets/img/icons/optical.png' alt='Vitamins')
					span.eshop__text Optical
			.col-xs-6.col-sm-4.col-md-15
				.eshop
					img.eshop__icon(src='assets/img/icons/general.health.png' alt='Vitamins')
					span.eshop__text General Health

		a.btn.btn-main(href='eshop.html') Visit Eshop
