footer.footer
	.footer__body
		.container
			.row
				.col-sm-3.col-xs-6
					h4.footer__title 65 Doctors
					ul.footer__links
						li: a(href='about.html') About
						li: a(href='articles.html') Heath Articles
						li: a(href='eshop.html') Eshop
						li: a(href='contact.html') Contact

				.col-sm-3.col-xs-6
					h4.footer__title Search By
					ul.footer__links
						li: a(href='search.html') Doctor
						li: a(href='search.html') Specialty
						li: a(href='search.html') Location
						li: a(href='search.html') Condition

				.col-sm-3.col-xs-6
					h4.footer__title Sign Up as Doctor
					ul.footer__links
						li: a(href='#') Learn More
						li: a(href='#') Book Appointment
						li: a(href='#') Learn More

				.col-sm-3.col-xs-6
					h4.footer__title Lorem ipsum
					ul.footer__links
						li: a(href='sitemap.html') Site map
						li: a(href='faq.html') FAQ
						li: a(href='directory.html') Directory

			.footer__info
				p 65doctor.com instant online booking of doctor’s appointments is a FREE service!  Membership is FREE and has its privileges. Members can book instant doctor appointments, ask our doctors questions, read interesting health articles and keep abreast of health news.  Be part of a vibrant health community today! Join now!  65 Doctor site allows you to book appointments ahead of time with specialist doctors from all medical specialties, dentists and TCM physicians and acupuncturists in Singapore. Let us help you find the right doctor based on your symptoms, required procedures, location, and even insurance company.
				p Singapore medicine: The Healthcare System in Singapore
				p In Singapore, there are 2 groups of public health care providers, Singhealth in the East and NHG (National Healthcare group). They provide similar clinical services and standard of care in their hospitals. The services provided include womens and childrens paediatric specialties, cancer institute, eye centres and sports medicine. The hospitals also have good nursing support. For more information, please view &amp; search hospital website page for contact details.  An example of private hospitals in Singapore is Mount Elizabeth hospital under the Parkway group. Private hospitals have doctors from all specialties, including physicians, surgeons and dentist. For specialists consultation and surgery, the patient makes an appointment. General practitioners working in privately managed medical practices in many locations provide services at all hours as part of their job. The patient and his family members consider the dr as their family doctor. All general disease conditions and full treatments including screening are available at the general practitioners. It is also easy to find many privately managed dental clinics in Singapore. In 2012, there were more than 10,000 doctors in Singapore and the numbers are set to increase in 2013 and 2014. Medical students have to read medicine for 5 years in the University before taking the final exams to qualify as a doctor. Doctors and dentists in Singapore have Singapore Medical Council registration. Many specialists have also spent time training in other countries such as America, United Kingdom and Australia. These overseas links are important. Many Singapore medical professionals have their education in renowed international institute with excellent training programme. Many specialists doctors have conducted research, won awards and written articles in international publication. Singapore medicine is well known in Asia and also has an international reputation. Hence many people travel to Singapore for specialists health care services and surgery. Back home, the citizens and people living in Singapore also have a high regard for the medical services.
	.footer__bottom
		.container
			row.social
				.col-sm-3.col-xs-12.text-center: span Follow 65 Doctors
				.col-sm-3.col-xs-4.text-center: a(href='#')
					i.fa.fa-facebook
					span Facebook
				.col-sm-3.col-xs-4.text-center: a(href='#')
					i.fa.fa-twitter
					span Twitter
				.col-sm-3.col-xs-4.text-center: a(href='#')
					i.fa.fa-google-plus
					span Google +
			

