nav.navbar
	.container
		.navbar-header
			a.navbar-brand(href='index.html')
				img(src='assets/img/logo.png' alt='65doctor')
		ul.navbar__links.pull-right
			li
				a(href='#')
					i.fa.fa-phone
					span (65) 6473 8123
			li
				a(href='mailto:enquiry@65doctor.com')
					i.fa.fa-envelope-o
					span enquiry@65doctor.com
		button.pull-right.btn.btn-login
			a(href='login.html') Login / 
			a(href='register.html') Sign Up

