section.block.block-bg-image.block-newsletter
	.overlay
	h2.block__title Subscribe to our newsletter
	.container
		form.search__form
			.input-group
				input.form-control(type='text' placeholder='Enter your email address')
				.input-group-btn
					button.btn.btn-search(type='submit') subscribe