section.block.block-grey
	h2.block__title Popular searches
	p.block__des Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Maecenas sit amet nunc ut quam placerat sagittis eget vestibulum nisi.
	.container
		.row.group
			.col-sm-4
				h3.group__title.group__title-1
					img.group__title__icon(src='assets/img/icons/specialty.png' alt='Specialty')
					span.group__title__text Specialty
				ul.group__link.group__link-1(data-mh='group-link')
					li: a(href='#') Oncology
					li: a(href='#') Paediatric
					li: a(href='#') Dentistry
					li: a(href='#') Obstetrician Gynecology
					li: a(href='#') Chemotherapy
					li: a(href='#') Dermatology
					li: a(href='#') Optomety
					li: a(href='#') Optalmology
					li: a(href='#') Allergy
					li: a(href='#') Physical Theraphy
					li: a.view-all(href='#') View FullList
			.col-sm-4
				h3.group__title.group__title-2
					img.group__title__icon(src='assets/img/icons/doctors.png' alt='Doctors')
					span.group__title__text Doctors
				ul.group__link.group__link-2(data-mh='group-link')
					li: a(href='#') Dr. Aenean vitae odio
					li: a(href='#') Dr. Magna imperdiet 
					li: a(href='#') Dr. Lacinia vel ut lorem
					li: a(href='#') Dr. Nam in leo blandit
					li: a(href='#') Dr. Blandit nulla eget
					li: a(href='#') Dr. Ultricies massa
					li: a(href='#') Dr. Nam in leo blandit
					li: a(href='#') Dr. Blandit nulla eget
					li: a(href='#') Dr. Ultricies massa
					li: a(href='#') Dr. Magna imperdiet
					li: a.view-all(href='#') View FullList
			.col-sm-4
				h3.group__title.group__title-3
					img.group__title__icon(src='assets/img/icons/condition.png' alt='Conditions')
					span.group__title__text Conditions
				ul.group__link.group__link-3(data-mh='group-link')
					li: a(href='#') Consectetur
					li: a(href='#') Nunc mollis purus
					li: a(href='#') A posuere Mollis
					li: a(href='#') Aliquam Sed Augue 
					li: a(href='#') Pellentesque Commodo 
					li: a(href='#') Eros Quis
					li: a(href='#') Tempus Elit
					li: a(href='#') Dolor sit amet
					li: a(href='#') Adipiscing elit
					li: a.view-all(href='#') View FullList
