section.search
	.container
		form.search__form
			h2.search__form__title Find and book Singapore<br>doctors online instantly!
			.row
				.col-sm-4
					input.form-control.autocomplete-specialty(type='text' placeholder='Specialty')
					span.search__form__text OR

				.col-sm-8
					.input-group
						input.form-control.autocomplete-search(type='text' data-url='mocks/doctors.json' placeholder='Search for doctor name, symptoms, conditions')
						.input-group-btn
							a.btn.btn-search(href='search.html') Search