head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title 65Doctor
    meta(name='description', content='')
    meta(name='robots', content='index, follow')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='icon' href='assets/img/icons/favicon.ico' sizes='32x32')
    link(rel='icon' href='assets/img/icons/favicon.ico' sizes='16x16')
    script(src='https://apis.google.com/js/platform.js' async defer)
        
    meta(property='og:locale', content='en_EN')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Stiff Hamilton Intranet')
    meta(property='og:url', content='')
    meta(property='og:site_name', content='')

    <!-- build:css assets/css/main.min.css -->
    <!-- inject:css -->
    <!-- endinject -->
    link(rel='stylesheet', href='assets/css/app.css')
    <!-- endbuild -->