script(src="https://maps.googleapis.com/maps/api/js?v=3.24&key=AIzaSyALe2NmvlHk14WZTBks2ye_w_RKRuZw4Z0")
<!-- build:js assets/js/main.min.js -->
<!-- dependencies START -->
<!-- inject:js -->
<!-- endinject -->
<!-- CORE START -->
script(src='assets/js/app.js')
script(src='assets/js/slider.js')
script(src='assets/js/map.js')
<!-- CORE END -->
<!-- endbuild -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
script.
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');