@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600,600i,700,700i';

body {
	font-family: 'Open Sans', sans-serif;
	color: #696969;
	font-size: 15px;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

h4 {
	font-size: 16px;
}

a, a:hover, a:focus {
	text-decoration: none;
}

.link {
	color: $color-blue-cornflower;
	text-decoration: underline;
	font-size: 18px;
	display: inline-block;
	&-margin-15 {
		margin: 15px 0;
	}
	&:hover {
		color: $color-main;
		text-decoration: underline;
	}
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-30 {
	margin-bottom: 30px;
}

.pt-20 {
	padding-top: 20px;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.title-border {
	font-size: 20px;
	font-weight: 400;
	color: #454545;
	border-bottom: 2px solid $color-blue-sky;
	margin-bottom: 30px;
	span {
		background: #fff;
		position: relative;
		top: 10px;
		display: inline-block;
		padding: 0 30px 0 0;
	}
	&-center {
		text-align: center;
		span {
			padding: 0 30px;
			top: 14px;
		}
	}
	&-grey {
		span {
			background: #fafafa;
		}
	}
}

.btn-main {
	background: $color-main;
	text-transform: uppercase;
	color: #fff;
	padding: 10px 30px;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 3px;
	&:hover,
	&:focus {
		color: #fff;
		background: $color-blue-cornflower;
	}
}

.btn-login {
	border: 2px solid $color-main;
	padding: 8px 15px;
	text-transform: uppercase;
	color: $color-main;
	font-weight: 600;
	margin: 24px 70px 0 0;
	&:hover,
	&:focus {
		background: $color-blue-cornflower;
		border-color: $color-blue-cornflower;
		color: #fff;
	}
}

.btn-border {
	border: 2px solid $color-main;
	padding: 10px 15px;
	color: $color-main;
	font-weight: 600;
	font-size: 20px;
	&:hover,
	&:focus {
		color: #fff;
		border-color: $color-blue-cornflower;
		background: $color-blue-cornflower;
	}
}

.carousel {
	margin-bottom: 20px;
	padding: 0 15px;
	&__item {
		margin: 10px;
		img {
			width: 100%;
			-moz-box-shadow: 0 1px 10px #ddd;
			-webkit-box-shadow: 0 1px 10px #ddd;
			box-shadow: 0 1px 10px #ddd;
		}
	}
}

.overlay {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.map {
	height: 160px;
	width: 95.7%;
	margin-bottom: 5px;
	border: 2px solid $color-main;
}

.social-like {
	margin-right: -50px;
}

.social-inline {
	display: inline-block;
	vertical-align: middle;
	margin-top: 3px;
	> div {
		vertical-align: middle !important;
	}
}

.doctor-group {
	margin-bottom: 15px;
	border-bottom: 1px solid #c9c9c9;
	padding-bottom: 15px;
	color: #454545;
	position: relative;
	.toogle-info {
		position: absolute;
		font-size: 20px;
		top: 0;
		right: 0;
		cursor: pointer;
	}
	&__toogle {
		display: none;
	}
	&__title {
		margin-bottom: 10px;
		img {
			height: 23px;
			vertical-align: middle;
			display: inline-block;
			margin-right: 8px;
		}
		i {
			color: $color-main;
			font-size: 20px;
			margin-right: 8px;
			vertical-align: middle;
		}
		span {
			display: inline-block;
			vertical-align: middle;
		}
	}
	ul {
		margin-bottom: 0;
		padding-left: 20px;
	}
	&:last-child {
		border: none;
		margin-bottom: 0;
	}
}

.doctor__right {
	.doctor-group {
		border-bottom: none;
		margin-bottom: 7px;
		padding-bottom: 7px;
		&__title {
			margin-bottom: 2px;
		}
	}
}

@media (max-width: $screen-xs-max) {
	body {
		font-size: 14px;
	}

	.btn-main {
		font-size: 14px;
		padding: 10px 20px;
	}

	.link {
		font-size: 14px;
	}
}
