.row {
    margin-left: -10px;
    margin-right: -10px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
}


.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-25,
.col-sm-25,
.col-md-25,
.col-lg-25 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-sm-25 {
    width: 20.8333%;
    float: left;
}

.col-sm-45 {
    width: 37.5001%;
    float: left;
    padding-right: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

@media (max-width: $screen-xs-max) {
    .col-sm-25 {
        width: 100%;
    }

    .col-sm-45 {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }
}

/*
    Nav
-----------------------------------------*/
.btn-default {
    color: #00c4b4;
    background: #fff;
    border-color: #fff;
    text-transform: uppercase;
    margin-bottom: 55px;
    &:hover,
    &:focus {
        color: #00c4b4;
        background: #fff;
        border-color: #fff;
    }
}

.slick-slide {
    outline: none !important;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'FontAwesome';
    color: #000;
    font-size: 45px;
}

.slick-prev:before {
    content: '\f104';
}

.slick-prev {
    left: -15px;
}

.slick-next {
    right: -15px;
}

.slick-next:before {
    content: '\f105';
    right: -15px;
}

.slick-dotted.slick-slider {
    margin-bottom: 70px
}

.slick-dots {
    position: relative;
    li {
        button {
            background: $color-main;
            width: 15px;
            height: 15px;
            border-radius: 10px;
            opacity: 0.5;
            &::before {
                content: "";
            }
        }
        &.slick-active button {
            opacity: 1;
        }
    }
}

.pagination-wrap {
    text-align: center;
}

.pagination {
    border-radius: 2px;
    margin: 40px 0 -40px;
    li > a,
    li > span {
        border: 1px solid #fafafa;
        color: #a1a1a1;
        background: #fafafa;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 500;
        &:hover,
        &:focus,
        &.active {
            background: #fafafa;
            color: #333;
            border-color: #fafafa;
        }
        &.disabled {
            color: #a1a1a1;
            background: none;
            cursor: default;
            background: #fafafa;
            &:hover {
                color: #a1a1a1;
                background: none;
                cursor: default;
                background: #fafafa;
            }
        }
    }
    li:first-child > a {
        border-radius: 2px 0 0 2px;
    }
    li:last-child > a {
        border-radius: 0 2px 2px 0;
    }
}

.autocomplete-suggestions {
    border: 2px solid $color-blue-cornflower;
    border-top: none;
    background: #fff;
    overflow: auto;
    color: $color-blue-cornflower;
    @extend %clearfix;
}

.autocomplete-suggestion {
    padding: 5px 15px;
    white-space: nowrap;
    overflow: hidden;
    .suggestion-key {
        color: #696969;
        text-transform: uppercase;
        float: right;
    }
    &:hover {
        background: $color-blue-cornflower;
        cursor: pointer;
        color: #fff;
        .suggestion-key {
            color: #89b4ef;
        }
    }
}

.autocomplete-selected {
    background: $color-main;
    color: #fff;
    .suggestion-key {
        color: #89b4ef;
    }
}

.autocomplete-group {
    padding: 5px 15px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid $color-blue-sky;
    font-weight: 500;
}

@media (min-width: 768px) {
    .pagination {
        margin-top: 20px;
    }
}

.table-no-border {
    tbody tr td {
        border: none;
        padding: 5px;
    }
}

.media {
    border: 2px solid $color-main;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 20px;
    &-object {
        width: 165px;
    }
    &-body {
        text-align: center;
    }
    &-heading {
        margin-bottom: 15px;
    }
}

@media (max-width: $screen-md-max) {
    .media {
        &-object {
            display: inline-block;
        }
        &-left {
            float: none;
            display: block;
            text-align: center;
            margin-bottom: 15px;
            padding-right: 0;
        }
    }
}


.media-link-all {
    text-decoration: underline;
    color: $color-main;
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
    &:hover {
        text-decoration: underline;
    }
}

.panel {
    margin-bottom: 15px;
    &-heading {
        .panel-title {
            font-weight: 500;
            font-size: 18px;
            .accordion-toggle {
                text-decoration: underline;
                font-weight: 600;
                color: #454545;
                font-size: 18px;
                &.collapsed {
                    font-weight: normal;
                    text-decoration: none;
                }
            }
        }
    }
    &-body {
        padding: 10px;
        font-size: 18px;
        color: #454545;
    }
}

@media (max-width: $screen-xs-max) {  
    .panel {
        &-heading {
            .panel-title {
                font-size: 14px;
                .accordion-toggle {
                    font-size: 14px;
                }
            }
        }
        &-body {
            font-size: 14px;
        }
    }
}