/* ==============================variables=================================== */
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$color-main: #274da8;
$color-blue-cornflower: #375ebc;
$color-blue-dodgle : #4ca5e8;
$color-blue-sky: #78bcee;
$color-blue-light: #f2f5fa;

$color-green: #4baf4f;
