extends tmpl/layout.main.jade

block content
    include tmpl/block/nav.jade
    include tmpl/block/line.background.jade
    
    section.block.block-md
        .container
            h2.block__title.block__title-md LABOUR - INDUCTION OF LABOUR
            p.block__des.block__des-md Article by Dr. Amelia Hui Pui Wah

            img.img-responsive.mb-30(src='assets/img/article.jpg' alt='')

            .row
                .col-sm-6
                    .article__doctor(data-mh='article-doctor')
                        .table-cell
                            h3.article__doctor__title Dr. Amelia Hui Pui Wah
                            span: strong OB-GYN

                            .article__doctor__content
                                span Consultant Dept of Obstetrics and Gynaecology Queen Mary Hospital<br>
                                span The University of Hong Kong
                        .table-cell
                            img.doctor__photo(src='assets/img/doctor.jpg' alt='')
                            a(href='#').doctor__detail-link View profile


                .col-sm-6
                    .article__doctor(data-mh='article-doctor') 
                        .article__doctor__book
                            span Like this article?  Search for doctors that can help.
                            a.btn.btn-main(href='#') Book a doctor


            .article__content
                p In normal circumstances, labour should kick start at around 38-40 weeks of gestation when contractions become coordinated and cervix begins to ripen. However, this process may have to be artificially initiated for some mothers when the baby is overdue, when health of the mother or baby is at threat or when the water has broken in absence of regular contractions.

                p The methods of induction of labour can be broadly classified into two major categories:

                h3 Non-pharmacological method

                h3 Membrane sweeping

                p Membrane sweeping is recommended by the World Health Organization (WHO) as an intervention to reduce the need for formal labour induction [WHO 2011]. It involves passing a finger around the cervix several times to aid its separation from the foetal membranes, thereby increasing the amount of prostaglandins secreted from the cervix. This procedure can, however, inflict pain and discomfort to the mother [Boulvain et al 1998; Boulvain et al 2005; Winer 2011; Wong et al 2002].

                h3 Amniotomy

                p Amniotomy entails surgical puncture of foetal membranes for the release of prostaglandins produced by amnion. Since this procedure alone does not offer any distinct advantage but poses risk of cord prolapse and infection, its use alone as a primary method of labour induction is not recommended by the National Institute for Health and Care Excellence (NICE) and WHO [Cohain 2013 (a); Cohain 2013 (b); NICE 2008; WHO 2014].

                h3 Balloon catheters

                p Balloon catheters exert direct pressure on the cervix and may stimulate secretion of prostaglandins. The use of catheters is associated with low risk of uterine hyperstimulation (UHS) and foetal heart rate abnormalities as compared to induction by pharmacological means [Fox et al 2011; He et al 2014; Jozwiak et al 2012; Jozwiak et al 2013]. The evidence of its routine use in induction of labour is relatively limited. WHO recommends it as an alternative when prostaglandins are contraindicated [WHO 2011].

                h3 Pharmacological method

                h3 Oxytocin

                p Oxytocin is secreted by the posterior pituitary gland. More oxytocin receptors are expressed in the uterus as pregnancy progresses, and hence its action on uterine contraction is enhanced. Due to its short half-life (4-10 minutes), continuous intravenous infusion is required; and its anti-diuretic property may lead to a risk of water intoxication if dose used is too high or administration is prolonged [Smith et al 2006]. Therefore, patients need to be closely monitored and dosage has to be carefully titrated throughout the induction. While NICE does not endorse use of intravenous oxytocin alone for labour induction, WHO recommends it if prostaglandins are not available [NICE 2008; WHO 2011].

                h3 Prostaglandins

                p Prostaglandins (PGEs) are secreted by the foetal membranes and inner lining of the uterus acting as signalling molecules responsible for stimulating the uterine contractions. Dinoprostone is a synthetic PGE2 analogue available as vaginal tablet, gel and pessary. As with the other pharmacological induction agents, PGE2 is also associated with a risk of developing uterine hyperstimulation [Mozurkewich et al 2011]. The new PGE2-delivery system of the vaginal pessary is specially designed to overcome this problem. In the pessary, PGE2 is embedded in a hydrogel-polymer, which releases PGE2 at a controlled rate of 0.3 mg/h for 24 h. One review suggested an association of more vaginal deliveries and less oxytocin use with PGE2 controlled release pessary [Facchinetti et al 2012]. Overall, PGE2 is recommended as an effective means of labour induction by Cochrane review [Thomas et al 2014]. Though it carries the risk of hyperstimulation, the PGE2-controlled release pessary allows the drug to be removed easily and immediately with contractions reported to subside within 15 minutes [Rabl et al 2002].

                h3 Conclusion

                p There are several mechanical and pharmacological methods of induction of labour which are widely used and safe for patients. Caution should be exercised by clinicians to ensure proper indications and safety for patients and the babies.

            .text-center.mb-30.pt-20
                a.btn.btn-main(href='articles.html') BACK TO HEALTH ARTICLES

            .container
                .title-border.title-border-center: span Related Articles
                .related-wrap
                    .row
                        .col-md-3
                            .related
                                img.related__img(src='assets/img/articles/article01.jpg' alt='')
                                h4.related__title: a(href='#') Proin viverra risus eget diam laoreet feugiat.

                        .col-md-3
                            .related
                                img.related__img(src='assets/img/articles/article02.jpg' alt='')
                                h4.related__title: a(href='#') Aliquam faucibus eleifend purus, vel faucibus mi molestie eget. 

                        .col-md-3
                            .related
                                img.related__img(src='assets/img/articles/article03.jpg' alt='')
                                h4.related__title: a(href='#') Proin viverra urna dolor

                        .col-md-3
                            .related
                                img.related__img(src='assets/img/articles/article04.jpg' alt='')
                                h4.related__title: a(href='#') Donec ultricies ex ut faucibus viverra
                                    

