extends tmpl/layout.main.jade

block content
    include tmpl/block/nav.jade
    include tmpl/block/line.background.jade

    section.block

        .container
            h2.block__title.block__title-md HEALTH ARTICLES
            p.block__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet urna feugiat<br> mattis justo eu, vulputate sem. Maecenas ut pretium eros, sed volutpat lorem.

            .action-bar
                .row
                    .col-sm-25
                        .dropdown
                            button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Category
                                span.caret
                            .dropdown-menu
                                li: span Action
                    .col-sm-25.last
                        .dropdown
                            button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Sort by
                                span.caret
                            .dropdown-menu
                                li: span Action

                    .col-sm-7
                        .input-group
                            input.form-control(type='text' data-url='mocks/doctors.json' placeholder='Search for articles...')
                            .input-group-btn
                                button.btn.btn-search(type='submit')
                                    i.glyphicon.glyphicon-search

            .article-list
                .article
                    .row
                        .col-sm-6: img.article__img(src='assets/img/post.jpg' alt='')
                        .col-sm-6
                            h3.article__title Neque porro quisquam est qui dolorem ipsum.
                            .article__des Fusce vestibulum, sem a vulputate tristique, ex diam cursus nibh, nec mollis dolor libero in sem. Praesent elit ipsum, fermentum in consequat id, eleifend consequat metus. Cras consequat risus ut nunc tempor varius. Sed imperdiet ex id neque consectetur ultricies. Donec molestie tincidunt nunc in vulputate.
                            span.article__author: i Written by: Dr Morbi Porta Mauris
                            a.article__link(href='#')
                                span Read more
                                i.fa.fa-angle-right
                .article
                    .row
                        .col-sm-6: img.article__img(src='assets/img/post.jpg' alt='')
                        .col-sm-6
                            h3.article__title Neque porro quisquam est qui dolorem ipsum.
                            .article__des Fusce vestibulum, sem a vulputate tristique, ex diam cursus nibh, nec mollis dolor libero in sem. Praesent elit ipsum, fermentum in consequat id, eleifend consequat metus. Cras consequat risus ut nunc tempor varius. Sed imperdiet ex id neque consectetur ultricies. Donec molestie tincidunt nunc in vulputate.
                            span.article__author: i Written by: Dr Morbi Porta Mauris
                            a.article__link(href='#')
                                span Read more
                                i.fa.fa-angle-right
                .article
                    .row
                        .col-sm-6: img.article__img(src='assets/img/post.jpg' alt='')
                        .col-sm-6
                            h3.article__title Neque porro quisquam est qui dolorem ipsum.
                            .article__des Fusce vestibulum, sem a vulputate tristique, ex diam cursus nibh, nec mollis dolor libero in sem. Praesent elit ipsum, fermentum in consequat id, eleifend consequat metus. Cras consequat risus ut nunc tempor varius. Sed imperdiet ex id neque consectetur ultricies. Donec molestie tincidunt nunc in vulputate.
                            span.article__author: i Written by: Dr Morbi Porta Mauris
                            a.article__link(href='#')
                                span Read more
                                i.fa.fa-angle-right

        .container
            h3.title-border: span Latest Articles
            mixin article(img, title, content, price)
                .article-md
                    .article-md__img
                        img(src=img alt='')
                    .article-md__content
                        h4.article-md__content__title= title
                        .article-md__content__des= content
                        a.btn.btn-main(href='#') Read more
            .row
                .col-sm-6
                    +article('assets/img/articles/article06.jpg', 'Phasellus odio felis', 'Sed nec ipsum pretium, euismod metus non, mollis ex...')

                    +article('assets/img/articles/article07.jpg', 'Donec sollicitudin viverra mollis', 'Sed imperdiet ex id neque consectetur ultricies vulputate...')

                    +article('assets/img/articles/article08.jpg', 'Pre-Marital Package', 'Pellentesque hendrerit est at metus maximus, sit amet aliquet ipsum condimentum...')

                    +article('assets/img/articles/article06.jpg', 'Phasellus odio felis', 'Sed nec ipsum pretium, euismod metus non, mollis ex...')

                .col-sm-6
                    +article('assets/img/articles/article06.jpg', 'Phasellus odio felis', 'Sed nec ipsum pretium, euismod metus non, mollis ex...')

                    +article('assets/img/articles/article07.jpg', 'Donec sollicitudin viverra mollis', 'Sed imperdiet ex id neque consectetur ultricies vulputate...')

                    +article('assets/img/articles/article08.jpg', 'Pre-Marital Package', 'Pellentesque hendrerit est at metus maximus, sit amet aliquet ipsum condimentum...')

                    +article('assets/img/articles/article06.jpg', 'Phasellus odio felis', 'Sed nec ipsum pretium, euismod metus non, mollis ex...')
            .text-center
                a.link.link-margin-15(href='#') View more latest articles

        .container
            .title-border.title-border-center: span Previous Articles
            .row
                .col-md-15 
                    .related
                        img.related__img(src='assets/img/articles/article01.jpg' alt='')
                        h4.related__title: a(href='#') Proin viverra risus eget diam laoreet feugiat.

                .col-md-15
                    .related
                        img.related__img(src='assets/img/articles/article02.jpg' alt='')
                        h4.related__title: a(href='#') Aliquam faucibus eleifend purus, vel faucibus mi molestie eget. 

                .col-md-15
                    .related
                        img.related__img(src='assets/img/articles/article03.jpg' alt='')
                        h4.related__title: a(href='#') Proin viverra urna dolor

                .col-md-15
                    .related
                        img.related__img(src='assets/img/articles/article04.jpg' alt='')
                        h4.related__title: a(href='#') Donec ultricies ex ut faucibus viverra

                .col-md-15
                    .related
                        img.related__img(src='assets/img/articles/article05.jpg' alt='')
                        h4.related__title: a(href='#') Curabitur mi quam, facilisis et ullamcorper nec
            .text-center
                a.btn.btn-main(href='#') View all previous Articles
