extends tmpl/layout.main.jade

block content
    include tmpl/block/nav.jade
    include tmpl/block/line.background.jade

    ul.booking-nav
        li: a(href='#') Patient Information
        li: a(href='#') Confirmation 
    
    section.block.block-md
        .container
            .block-wrap.block-grey
                .row
                    .col-sm-7
                        .block-wrap__left(data-mh="block")
                            .doctor
                                .doctor__left
                                    img.doctor__photo(src='assets/img/doctor.jpg' alt='')
                                    a(href='#').doctor__package
                                        i.fa.fa-shopping-cart
                                        span Buy Medical Packages

                                .doctor__right
                                    h3.doctor__name
                                        span Dr. Name of Doctor
                                        i.fa.fa-check-circle
                                    span.doctor__short-info General Practitioner, Dietician 33 years of experience
                                    p <strong>SOC @ Gleneagles</strong><br>Gleneagles Medical Centre, #05-11/12<br>6 Napier Road, Singapore 258499
                            .appoitment
                                .appoitment__date
                                    span Date of Appointment:
                                    strong Monday, 01 AUG 2016
                                .appoitment__time
                                    span Time of Appointment:
                                    strong 1:00 PM

                    .col-sm-5
                        .block-wrap__right.general-form.block-light-blue(data-mh="block")
                            h2.general-form__title Enter your information below.
                            form(role='form')
                                .form-group.text-center
                                    label.radio-inline
                                        input(type='radio' name='patient.type' checked)
                                        span New Patient
                                    label.radio-inline
                                        input(type='radio' name='patient.type')
                                        span Returning Patient
                                .form-group
                                    label Patient’s Name:
                                    input.form-control(type='text')
                                .form-group
                                    label Email Adrress:
                                    input.form-control(type='email')
                                .form-group
                                    label Mobile Number:
                                    input.form-control(type='number')
                                .form-group
                                    label Note to Doctor:
                                    textarea.form-control
                                p.general-form__subTitle - or login using: -

                                .form-group
                                    .row
                                        .col-sm-6
                                            button.btn.btn-social.btn-block
                                                i.fa.fa-google-plus
                                                span Google
                                        .col-sm-6
                                            button.btn.btn-social.btn-block
                                                i.fa.fa-facebook
                                                span Facebook

                                .checkbox.text-center
                                    label
                                        input(type='checkbox')
                                        | I agree to 65Doctor’s <a href='#'>Terms and Conditions.</a>

                                .form-group
                                    button.btn.btn-main.btn-block Done


