extends tmpl/layout.main.jade

block content
    include tmpl/block/nav.jade
    include tmpl/block/line.background.jade

    ul.booking-nav
        li: a(href='#') Patient Information
        li: a(href='#') Confirmation 
    
    section.block.block-md
        .container
            .block-wrap.block-grey
                .row
                    .col-sm-7
                        .block-wrap__left(data-mh="block")
                            .doctor
                                .doctor__left
                                    img.doctor__photo(src='assets/img/doctor.jpg' alt='')
                                    a(href='#').doctor__package
                                        i.fa.fa-shopping-cart
                                        span Buy Medical Packages

                                .doctor__right
                                    h3.doctor__name
                                        span Dr. Name of Doctor
                                        i.fa.fa-check-circle
                                    span.doctor__short-info General Practitioner, Dietician 33 years of experience
                                    p <strong>SOC @ Gleneagles</strong><br>Gleneagles Medical Centre, #05-11/12<br>6 Napier Road, Singapore 258499
                            .appoitment
                                .appoitment__date
                                    span Date of Appointment:
                                    strong Monday, 01 AUG 2016
                                .appoitment__time
                                    span Time of Appointment:
                                    strong 1:00 PM

                    .col-sm-5
                        .block-wrap__right.general-form.block-light-blue(data-mh="block")
                            h2.general-form__title Thank you!<br>Your appointment is confirmed.
                            span.general-form__text.general-form__text-highlight Appointment ID: XXXXXXX
                            .form-group
                                span.general-form__text Patient's name:
                                span.general-form__text: strong John Doe

                            .form-group
                                span.general-form__text Email Address:
                                span.general-form__text: strong sample@gmail.com
                                
                            .form-group
                                span.general-form__text Mobile Number:
                                span.general-form__text: strong +65 XXXXXXXX







                            