extends tmpl/layout.main.jade

block content
    include tmpl/block/nav.jade
    include tmpl/block/line.background.jade
    
    section.block.block-md
        .container
            h2.block__title.block__title-md Contact
            p.block__des LWe’d be happy to hear from you!<br>Feel free to call or email us, or simply fill up the form below

            .contact-wrapp
                .row
                    .col-sm-7
                        .contact(data-mh="contact")
                            h3.contact__title CONTACT INFORMATION
                            ul.contact__info
                                li
                                    i.fa.fa-envelope-o
                                    a(href='mailto:enquiry@65doctor.com') enquiry@65doctor.com
                                li
                                    i.fa.fa-phone
                                    span +65 6473 8123
                                li
                                    i.fa.fa-whatsapp
                                    span +65 xxxx xxxx
                                li
                                    i.fa.fa-map-marker
                                    span 20 Science Park Road<br>#01-23/25, Teletech Park<br>Singapore 117674
                                li
                                    i.fa.fa-clock-o
                                    span Mondays to Fridays<br>9:00 AM to 5:00 PM

                            .note: i *Our office is closed on Saturday, Sunday, Public Holiday &amp; Eve of Public Holiday

                    .col-sm-5
                        .contact-form(data-mh="contact")
                            form(role='form')
                                .form-group
                                    label Name
                                    input.form-control(type='text')
                                .form-group
                                    label Email Adrress:
                                    input.form-control(type='email')
                                .form-group
                                    label Mobile Number:
                                    input.form-control(type='number')
                                .form-group
                                    label Message:
                                    textarea.form-control(type='text')
                                .form-group
                                    button.btn.btn-main.btn-block Submit
                            

