extends tmpl/layout.main.jade

block content
    include tmpl/block/nav.jade
    include tmpl/block/line.background.jade
    
    section.block.block-md
        .container
            h2.block__title.block__title-md Directory
            .directory-wrap
                .dropdown
                    button.btn.btn-default.dropdown-toogle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='true') Sort list according to
                        span.caret
                    ul.dropdown-menu
                        li: span Alphabetical Order
                        li: span Ang Mo Kio
                        li: span Recent Search
                ul.directory-filter
                    li: span.active ALL
                    li: span A
                    li: span B
                    li: span C
                    li: span D
                    li: span E
                    li: span F
                    li: span G
                    li: span H
                    li: span I
                    li: span K
                    li: span L
                    li: span M
                    li: span N
                    li: span O
                    li: span P
                    li: span Q
                    li: span R
                    li: span S
                    li: span T
                    li: span U
                    li: span W
                    li: span X
                    li: span Y
                    li: span Z
                h3.directory-title List of Doctors, Dentists, Practicioners
            .row
                .col-sm-4
                    .link-group
                        .link-group__title A
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur 
                            li 
                                a(href='#') Adipiscing, NP
                                span 5475 Pellentesque in justo non felis 486249
                            li
                                a(href='#') Elit Aenean, MD
                                span 576 Pellentesque in justo non felis 19582 In Enim Feugiat, PHD
                    .link-group
                        .link-group__title B
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur
                    .link-group
                        .link-group__title C
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                    .link-group
                        .link-group__title D
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur 
                            li 
                                a(href='#') Adipiscing, NP
                                span 5475 Pellentesque in justo non felis 486249
                            li
                                a(href='#') Elit Aenean, MD
                                span 576 Pellentesque in justo non felis 19582 In Enim Feugiat, PHD

                    .link-group
                        .link-group__title E
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur
                    .link-group
                        .link-group__title F
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur 
                            li 
                                a(href='#') Adipiscing, NP
                                span 5475 Pellentesque in justo non felis 486249
                    .link-group
                        .link-group__title G
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur 
                            li 
                                a(href='#') Adipiscing, NP
                                span 5475 Pellentesque in justo non felis 486249
                            li
                                a(href='#') Elit Aenean, MD
                                span 576 Pellentesque in justo non felis 19582 In Enim Feugiat, PHD
                    .link-group
                        .link-group__title H
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur
                    .link-group
                        .link-group__title I
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur 
                            li 
                                a(href='#') Adipiscing, NP
                                span 5475 Pellentesque in justo non felis 486249
                            li
                                a(href='#') Elit Aenean, MD
                                span 576 Pellentesque in justo non felis 19582 In Enim Feugiat, PHD
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur

                .col-sm-4
                    .link-group
                        .link-group__title J
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur
                    .link-group
                        .link-group__title K
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur
                            li 
                                a(href='#') Adipiscing, NP
                                span 5475 Pellentesque in justo non felis 486249
                            li
                                a(href='#') Elit Aenean, MD
                                span 576 Pellentesque in justo non felis 19582 In Enim Feugiat, PHD
                    .link-group
                        .link-group__title L
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                    .link-group
                        .link-group__title M
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur 

                    .link-group
                        .link-group__title N
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur

                            li 
                                a(href='#') Adipiscing, NP
                                span 5475 Pellentesque in justo non felis 486249
                            li
                                a(href='#') Elit Aenean, MD
                                span 576 Pellentesque in justo non felis 19582 In Enim Feugiat, PHD
                    .link-group
                        .link-group__title O
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur 
                            li 
                                a(href='#') Adipiscing, NP
                                span 5475 Pellentesque in justo non felis 486249
                    .link-group
                        .link-group__title P
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur 
                    .link-group
                        .link-group__title Q
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur

                            li 
                                a(href='#') Adipiscing, NP
                                span 5475 Pellentesque in justo non felis 486249
                            li
                                a(href='#') Elit Aenean, MD
                                span 576 Pellentesque in justo non felis 19582 In Enim Feugiat, PHD
                    .link-group
                        .link-group__title R
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur 
                            li 
                                a(href='#') Adipiscing, NP
                                span 5475 Pellentesque in justo non felis 486249
                    .link-group
                        .link-group__title S
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur 
                            li 
                                a(href='#') Adipiscing, NP
                                span 5475 Pellentesque in justo non felis 486249

                .col-sm-4
                    .link-group
                        .link-group__title T
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur

                            li 
                                a(href='#') Adipiscing, NP
                                span 5475 Pellentesque in justo non felis 486249
                            li
                                a(href='#') Elit Aenean, MD
                                span 576 Pellentesque in justo non felis 19582 In Enim Feugiat, PHD
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                    .link-group
                        .link-group__title U
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur 

                    .link-group
                        .link-group__title V
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur
                            li 
                                a(href='#') Adipiscing, NP
                                span 5475 Pellentesque in justo non felis 486249
                            li
                                a(href='#') Elit Aenean, MD
                                span 576 Pellentesque in justo non felis 19582 In Enim Feugiat, PHD
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur
                    .link-group
                        .link-group__title W
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur 
                            li 
                                a(href='#') Adipiscing, NP
                                span 5475 Pellentesque in justo non felis 486249
                            li
                                a(href='#') Elit Aenean, MD
                                span 576 Pellentesque in justo non felis 19582 In Enim Feugiat, PHD
                    .link-group
                        .link-group__title X
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur 
                            li 
                                a(href='#') Adipiscing, NP
                                span 5475 Pellentesque in justo non felis 486249
                            li
                                a(href='#') Elit Aenean, MD
                                span 576 Pellentesque in justo non felis 19582 In Enim Feugiat, PHD
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur 
                    .link-group
                        .link-group__title Y
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur
                            li 
                                a(href='#') Adipiscing, NP
                                span 5475 Pellentesque in justo non felis 486249
                    .link-group
                        .link-group__title Z
                        ul.link-group__list
                            li
                                a(href='#') Dr. Lorem Ipsum, DMD
                                span 425 Pellentesque in justo non felis 1385782
                            li
                                a(href='#') Dr. Dolor Sit Amet, OB-GYN
                                span 265 Pellentesque in justo non felis 143906 Consectetur 
                            li 
                                a(href='#') Adipiscing, NP
                                span 5475 Pellentesque in justo non felis 486249
                            li
                                a(href='#') Elit Aenean, MD
                                span 576 Pellentesque in justo non felis 19582 In Enim Feugiat, PHD

