extends tmpl/layout.main.jade

block content
    include tmpl/block/nav.jade
    include tmpl/block/line.background.jade

    section.block.block-filter
        .container
            form.search__form
                .row
                    .col-sm-4
                        input.form-control.autocomplete-specialty(type='text' placeholder='Specialty')
                        span.search__form__text OR

                    .col-sm-8
                        .input-group
                            input.form-control.autocomplete-search(type='text' data-url='mocks/doctors.json' placeholder='Search for doctor name, symptoms, conditions')
                            .input-group-btn
                                button.btn.btn-search(type='submit') Search
                .filter
                    .row
                        .col-sm-3
                            .dropdown
                                button.btn.btn-default.dropdown-toogle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='true') Location
                                    span.caret
                                ul.dropdown-menu
                                    li: .checkbox
                                        label
                                            input(type='checkbox')
                                            span Alexandra
                                    li: .checkbox
                                        label
                                            input(type='checkbox')
                                            span Ang Mo Kio
                        .col-sm-2
                            .dropdown
                                button.btn.btn-default.dropdown-toogle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='true') Gender
                                    span.caret
                                ul.dropdown-menu
                                    li: .checkbox
                                        label
                                            input(type='checkbox' checked)
                                            span Any
                                    li: .checkbox
                                        label
                                            input(type='checkbox')
                                            span Male
                                    li: .checkbox
                                        label
                                            input(type='checkbox')
                                            span Female
                        .col-sm-3
                            .dropdown
                                button.btn.btn-default.dropdown-toogle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='true') Availability
                                    span.caret
                                ul.dropdown-menu.filter-availability
                                    li.days
                                        span.day.active Any
                                        span.day Sun
                                        span.day Mon
                                        span.day Tue
                                        span.day Wed
                                        span.day Thu
                                        span.day Fri
                                        span.day Sat
                                    li.hours
                                        .clearfix
                                            span.hours__range 06:00 AM
                                            span.hours__range 11:30 PM
                                        #slider
                        .col-sm-4
                            .dropdown
                                button.btn.btn-default.dropdown-toogle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='true') Yrs. of Experience
                                    span.caret
                                ul.dropdown-menu
                                    li: .checkbox
                                        label
                                            input(type='checkbox')
                                            span 0 - 5
                                    li: .checkbox
                                        label
                                            input(type='checkbox')
                                            span 6 - 10
                                    li: .checkbox
                                        label
                                            input(type='checkbox')
                                            span 11 - 20
                                    li: .checkbox
                                        label
                                            input(type='checkbox')
                                            span &gt; 20


    .container.mb-40
        .row
            .col-md-5
                .box.clearfix(data-mh='doctor')
                    .doctor__left
                        img.doctor__photo.doctor__photo-radius(src='assets/img/doctor.jpg' alt='')
                        .social-like
                            .social-inline
                                .fb-like(data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false")
                            .social-inline
                                .g-plusone(data-size="medium" data-href="https://plus.google.com/u/0/communities/115990295442220364736")
                        a(href='#').doctor__favourite
                            i.fa.fa-star
                            span Favourite Doctor
                        a(href='#').doctor__package
                            i.fa.fa-shopping-cart
                            span Buy Medical Packages

                    .doctor__right
                        h3.doctor__name
                            span Dr. Name of Doctor
                            i.fa.fa-check-circle
                        span.doctor__short-info General Practitioner, Dietician 33 years of experience
                        .doctor-group
                            h4.doctor-group__title
                                img(src='assets/img/icons/specialty_sm.png' alt='')
                                span Specialty
                            span General Illness, Nutrition
                        .doctor-group
                            h4.doctor-group__title
                                img(src='assets/img/icons/qualifications.png' alt='')
                                span Qualifications
                            span MBBS, FAMS, M MED, MD, MRCOG, FRCOG
                        .doctor-group
                            h4.doctor-group__title
                                img(src='assets/img/icons/fee.png' alt='')
                                span Consulation Fee
                            span SGD $60.00
                
            .col-md-7
                .box(data-mh='doctor')
                    h4.doctor__info__title
                        img(src='assets/img/icons/bag.png' alt='')
                        span What I Do
                    table.table.table-no-border
                        tr
                            td Lorem ipsum dolor sit amet
                            td -
                            td.text-right SGD $150.00
                        tr
                            td Consectetur adipiscing elit
                            td -
                            td.text-right SGD $60.00
                        tr
                            td Maecenas sit amet nunc
                            td -
                            td.text-right SGD $1150.00
                        tr
                            td Cras fringilla lacinia metus
                            td -
                            td.text-right SGD $200.00
                        tr
                            td Vestibulum sit amet
                            td -
                            td.text-right SGD $50.00
                        tr
                            td Laoreet ligula
                            td -
                            td.text-right SGD $100.00
                        tr
                            td Nec pretium est
                            td -
                            td.text-right SGD $138.00
        .box.box-booking
            .box__head
                .box__head__tag
                    i.fa.fa-flash
                    span Real time booking
                span.box__head__text Select time slot and pick a clinic location to make an appointment.
            .row
                .col-md-7
                    .tbl-wrapper.tbl-wrapper-highlight
                        span.prevCalendar.glyphicon.glyphicon-menu-left
                        span.nextCalendar.glyphicon.glyphicon-menu-right
                        table.table.calendar-tbl
                            thead.hidden-xs
                                tr
                                    th
                                        span MONDAY
                                        span 01 Aug 2016
                                    th
                                        span TUESDAY
                                        span 02 Aug 2016
                                    th
                                        span WEDNESDAY
                                        span 03 Aug 2016
                                    th
                                        span THURSDAY
                                        span 04 Aug 2016
                                    th
                                        span FRIDAY
                                        span 05 Aug 2016
                    .tbl-wrapper
                        table.table.calendar-tbl
                            tbody
                                tr
                                    td
                                        .table-caption.visible-xs
                                            span MONDAY
                                            span 01 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-xs
                                            span TUESDAY
                                            span 02 Aug 2016
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A

                                    td
                                        .table-caption.visible-xs
                                            span WEDNESDAY
                                            span 03 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-xs
                                            span THURSDAY
                                            span 04 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-xs
                                            span FRIDAY
                                            span 05 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...
                .col-md-5
                    .doctor__clinic
                        h4.doctor-group__title
                            img(src='assets/img/icons/marker.png' alt='')
                            span Clinic Location(s):

                        .room-list
                            .room
                                h4.room__title SOC @ Gleneagles
                                span.room__des Gleneagles Medical Centre #05-11/12<br>6 Napier Road, Singapore 258499
                                .map#map1(data-maps, data-address='217 Nguyễn Thị Minh Khai, Hồ Chí Minh, Việt Nam')
                                .room__list
                                    img(src='assets/img/slider-detail/item01.jpg' alt='')
                                    img(src='assets/img/slider-detail/item02.jpg' alt='')
                                    img(src='assets/img/slider-detail/item03.jpg' alt='')
                            .room
                                h4.room__title SOC @ Gleneagles
                                span.room__des Gleneagles Medical Centre #05-11/12<br>6 Napier Road, Singapore 258499
                                .map#map2(data-maps, data-address='119B Nguyễn Trãi, Hồ Chí Minh, Việt Nam')
                                .room__list
                                    img(src='assets/img/slider-detail/item01.jpg' alt='')
                                    img(src='assets/img/slider-detail/item02.jpg' alt='')
                                    img(src='assets/img/slider-detail/item03.jpg' alt='')
                            .room
                                h4.room__title SOC @ Gleneagles
                                span.room__des Gleneagles Medical Centre #05-11/12<br>6 Napier Road, Singapore 258499
                                .map#map3(data-maps, data-address='147A Lê Quang Định, phường 14, Bình Thạnh, Hồ Chí Minh, Việt Nam')
                                .room__list
                                    img(src='assets/img/slider-detail/item01.jpg' alt='')
                                    img(src='assets/img/slider-detail/item02.jpg' alt='')
                                    img(src='assets/img/slider-detail/item03.jpg' alt='')
        .box
            h4.doctor__info__title
                img(src='assets/img/icons/doctors.png' alt='' style='height: 27px; margin: 0 3px 0 -3px;')
                span Professional Station
            .doctor__info__des
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet nunc ut quam placerat sagittis eget vestibulum nisi. Curabitur non finibus nisl, vel elementum lorem. Cras fringilla lacinia metus, eu pretium sapien tristique quis. Vestibulum sit amet laoreet ligula, nec pretium est. Vivamus venenatis consectetur lorem, vel volutpat ligula volutpat quis. Aliquam vestibulum velit nec sollicitudin suscipit. Aliquam finibus turpis vitae massa pellentesque, eget bibendum eros dictum. Integer dignissim, purus venenatis dictum pretium, metus felis tincidunt metus, sit amet cursus eros libero sed diam. Sed diam purus, euismod vel efficitur quis, tincidunt nec magna. Proin iaculis, felis eget convallis accumsan, nunc sem molestie magna, sed pharetra lectus orci ut nulla. Proin in sapien aliquet, venenatis urna ut, porttitor ligula. Curabitur vitae convallis orci.
                p Maecenas rutrum, ligula ac ornare blandit, nisi mauris posuere ex, vel sollicitudin risus velit maximus massa. Morbi finibus tristique mauris sit amet mollis. Quisque eu risus tellus. Cras id sem lectus. Ut hendrerit molestie mi, nec semper lectus aliquam nec. Nam ipsum quam, laoreet at nisl non, hendrerit ullamcorper lectus. Nunc laoreet dui sit amet lectus feugiat lacinia. Donec pellentesque, felis eu interdum ullamcorper, dolor dolor malesuada purus, at posuere leo velit sed sapien. Aenean in pellentesque urna. Etiam sed ex nisi. Praesent tempor nisl quis scelerisque consequat. Quisque id augue vehicula, tincidunt dui et, rhoncus nisi. Vivamus auctor accumsan interdum. Quisque varius iaculis placerat. Praesent auctor magna leo, quis finibus sem tempor in. Sed scelerisque ipsum vitae fringilla efficitur.
                p Ut hendrerit molestie mi, nec semper lectus aliquam nec. Nam ipsum quam, laoreet at nisl non, hendrerit ullamcorper lectus.

        .row
            .col-sm-6
                .box.box-mh
                    .doctor-group
                        h4.doctor-group__title
                            img(src='assets/img/icons/languages.png' alt='')
                            span Languages Spoken
                        span Mandarin, English
                    .doctor-group
                        i.fa.fa-angle-down.toogle-info
                        h4.doctor-group__title
                            i.fa.fa-graduation-cap
                            span Education
                        ul
                            li National University Hospital
                            li National Cancer Centre, Singapore
                            li University of California, San Francisco (UCSF)
                        .doctor-group__toogle
                            ul
                                li National University Hospital
                                li National Cancer Centre, Singapore
                                li University of California, San Francisco (UCSF)
                                li National University Hospital
                                li National Cancer Centre, Singapore
                                li University of California, San Francisco (UCSF)
                    .doctor-group
                        i.fa.fa-angle-down.toogle-info
                        h4.doctor-group__title
                            img(src='assets/img/icons/award.png' alt='')
                            span Awards and Publications
                        ul
                            li Vivamus in elit nec velit sagittis 
                            li Ut pretium lacus at, lacinia nisl.
                            li Nam nec lectus sit amet est mollis
                        .doctor-group__toogle
                            ul
                                li Vivamus in elit nec velit sagittis 
                                li Ut pretium lacus at, lacinia nisl.
                                li Nam nec lectus sit amet est mollis
            .col-sm-6
                .box.box-mh
                    .doctor-group
                        h4.doctor-group__title
                            img(src='assets/img/icons/membership.png' alt='')
                            span Membership (+)
                        ul
                            li Vivamus in elit nec velit sagittis 
                            li Ut quis erat consectetur
                    .doctor-group
                        i.fa.fa-angle-down.toogle-info
                        h4.doctor-group__title
                            img(src='assets/img/icons/hospital.png' alt='')
                            span Accredited Hospitals
                        ul
                            li Vivamus in elit nec velit sagittis
                            li Nam nec lectus sit amet est mollis malesuada nec id metus.
                        .doctor-group__toogle
                            ul
                                li Vivamus in elit nec velit sagittis 
                                li Ut pretium lacus at, lacinia nisl.
                                li Nam nec lectus sit amet est mollis
                    .doctor-group
                        i.fa.fa-angle-down.toogle-info
                        h4.doctor-group__title
                            img(src='assets/img/icons/insurances.png' alt='')
                            span Insurances Accepted in Clinic
                        ul
                            li Vivamus in elit nec
                            li Ut quis erat consectetur
                            li Nam nec lectus sit amet
                        .doctor-group__toogle
                            ul
                                li Vivamus in elit nec velit sagittis 
                                li Ut pretium lacus at, lacinia nisl.
                                li Nam nec lectus sit amet est mollis

        .box
            h3.title-border.title-border-grey: span Health Articles by Dr. Doctor A. Name
            .row
                .col-sm-4
                    .media(data-mh='media')
                        .media-left
                            a(href='#')
                                img.media-object(src="assets/img/articles/article01.jpg" alt="")
                        .media-body
                            h4.media-heading Curabitur non finibus 
                            p Lorem ipsum dolor Ut hendrerit molestie mi, nec semper lectus.
                .col-sm-4
                    .media(data-mh='media')
                        .media-left
                            a(href='#')
                                img.media-object(src="assets/img/articles/article02.jpg" alt="")
                        .media-body
                            h4.media-heading Nisl vel elementum 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .col-sm-4
                    .media(data-mh='media')
                        .media-left
                            a(href='#')
                                img.media-object(src="assets/img/articles/article03.jpg" alt="")
                        .media-body
                            h4.media-heading Non finibus nis vel elementum
                            p Consectetur adipiscing hendrerit mi semper elit...
            .text-center
                a.media-link-all(href='articles.html') View all articles by this doctor
                            
