extends tmpl/layout.main.jade

block content
    include tmpl/block/nav.jade
    include tmpl/block/line.background.jade

    .container
        .eshop-banner
            img(src='assets/img/slider/banner.jpg' alt='')
            img(src='assets/img/slider/banner.jpg' alt='')
            img(src='assets/img/slider/banner.jpg' alt='')

        .action-bar.action-bar-shop
            .row
                .col-sm-25.mega-menu
                    .dropdown
                        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Category
                            span.caret
                        .dropdown-menu
                            .row
                                .col-sm-3.col-xs-6
                                    span Dental
                                    span ENT
                                    span Fertility
                                    span For Women

                                .col-sm-3.col-xs-6
                                    span Pregnancy
                                    span For Men
                                    span Heart Health
                                    span Anti Aging

                                .col-sm-3.col-xs-6
                                    span General Health
                                    span Pain
                                    span Skin
                                    span Specialist Consulation

                                .col-sm-3.col-xs-6
                                    span Cancer
                                    span Weight Management
                                    span Children
                                    span Vitamins
                .col-sm-25.mega-menu
                    .dropdown
                        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Products
                            span.caret
                        .dropdown-menu
                            .row
                                .col-sm-3.col-xs-6
                                    span Lorem
                                    span Isum
                                    span Sit amet
                                    span Dunemu

                                .col-sm-3.col-xs-6
                                    span Lorem
                                    span Isum
                                    span Sit amet
                                    span Dunemu

                                .col-sm-3.col-xs-6
                                    span Lorem
                                    span Isum
                                    span Sit amet
                                    span Dunemu

                                .col-sm-3.col-xs-6
                                    span Lorem
                                    span Isum
                                    span Sit amet
                                    span Dunemu
                            
                .col-sm-25.mega-menu
                    .dropdown
                        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Bundles &amp; Packages
                            span.caret
                        .dropdown-menu
                            .row
                                .col-sm-3.col-xs-6
                                    span Dunemu
                                    span Sit amet
                                    span Lorem
                                    span Lorais

                                .col-sm-3.col-xs-6
                                    span Dunemu
                                    span Sit amet
                                    span Lorem
                                    span Lorais

                                .col-sm-3.col-xs-6
                                    span Sit amet
                                    span Isum
                                    span Lorem
                                    span Chorati

                                .col-sm-3.col-xs-6
                                    span Dunemu
                                    span Sit amet
                                    span Lorem
                                    span Lorais

                .col-sm-45
                    .input-group
                        input.form-control(type='text' data-url='mocks/doctors.json' placeholder='Search shop...')
                        .input-group-btn
                            button.btn.btn-search(type='submit')
                                i.glyphicon.glyphicon-search
    
    section.block.block-steps.block-steps-alignleft
        .container
            .steps
                .step.step-1(data-mh='step')
                    .step__inner
                        span.step__number 1
                        img.step__icon(src='assets/img/icons/shop_white.png' alt='Shop')
                        span.step__text Purchase medical<br> package
                .step.step-2(data-mh='step')
                    .step__inner
                        span.step__number 2
                        img.step__icon(src='assets/img/icons/doctor.png' alt='Doctor')
                        span.step__text Select doctor and book an appointment
                .step.step-3(data-mh='step')
                    .step__inner
                        span.step__number 3
                        img.step__icon(src='assets/img/icons/book.png' alt='Book')
                        span.step__text Reddem voucher on appointment day
    section.block.block-no-padding-top
        .container
            h3.title-border.title-border-center: span Featured Categories
            .row.eshop-wrap-blue
                .col-xs-6.col-sm-4.col-md-15
                    .eshop
                        img.eshop__icon(src='assets/img/icons/Vitamins_blue.png' alt='Vitamins')
                        span.eshop__text Vitamins
                .col-xs-6.col-sm-4.col-md-15
                    .eshop
                        img.eshop__icon(src='assets/img/icons/heart.health_blue.png' alt='Vitamins')
                        span.eshop__text Heart Health
                .col-xs-6.col-sm-4.col-md-15
                    .eshop
                        img.eshop__icon(src='assets/img/icons/dental_blue.png' alt='Dental')
                        span.eshop__text Dental
                .col-xs-6.col-sm-4.col-md-15
                    .eshop
                        img.eshop__icon(src='assets/img/icons/optical_blue.png' alt='Vitamins')
                        span.eshop__text Optical
                .col-xs-6.col-sm-4.col-md-15
                    .eshop
                        img.eshop__icon(src='assets/img/icons/general.health_blue.png' alt='Vitamins')
                        span.eshop__text General Health

        .container
            .row
                .col-sm-6
                    h3.title-border: span New Products
                    mixin product(img, title, content, price)
                        .product
                            .product__img
                                img(src=img alt='')
                            .product__content
                                h4.product__content__title= title
                                .product__content__des= content
                                .product__content__price= price
                                a.btn.btn-main(href='#') Buy Now
                    div
                        +product('assets/img/products/item01.jpg', 'Well Women Screening', 'A regular gynaecological examination for all women', '$ 250.00')

                        +product('assets/img/products/item02.jpg', 'Cord Blood Storage', 'StemCord Cord Blood Banking', '$ 2086.00')

                        +product('assets/img/products/item03.jpg', 'ENT (Ear, Nose &amp; Throat) Screening', 'Ear, Nose &amp; Throat Screening with Video Diagnostic Nasoendoscopy &amp; Laryngoscopy', '$ 350.00')

                        +product('assets/img/products/item04.jpg', 'Pre-Pregnancy', 'For couples to ensure they are healthy before embarking on their exciting journey of parenthood.', '$ 440.00')

                    .text-center
                        a.link(href='#') View more of latest products
                .col-sm-6.product-wrap.product-wrap-best
                    h3.title-border: span Best Sellers
                    div
                        +product('assets/img/products/item05.jpg', 'Premium Heart Examination', 'A thorough and comprehensive assessment of your heart health', '$ 1150.00')

                        +product('assets/img/products/item06.jpg', 'Young Adult Heart Examination', 'A basic heart health check up for men &amp; women', '$ 650.00')

                        +product('assets/img/products/item07.jpg', 'Pre-Marital Package', 'A comprehensive check-up for the young couple who are planning to get married.', '$ 380.00')

                        +product('assets/img/products/item08.jpg', 'Premium Heart Examination', 'A thorough and comprehensive assessment of your heart health', '$ 1150.00')

                    .text-center
                        a.link(href='#') View all best selling products

