extends tmpl/layout.main.jade

block content
    include tmpl/block/nav.jade
    include tmpl/block/line.background.jade
    
    section.block.block-md
        .container
            h2.block__title.block__title-md Help center
            p.block__des How can we help you?<br>Maecenas sit amet nunc ut quam placerat sagittis eget vestibulum nisi.

            .action-bar.action-bar-help
                .input-group
                    input.form-control(type='text' data-url='mocks/doctors.json' placeholder='Search help pages...')
                    .input-group-btn
                        button.btn.btn-search(type='submit')
                            i.glyphicon.glyphicon-search

            h3.title-border.title-border-center: span Help Categories
            .row
                .col-sm-4
                    .help
                        .help__icon
                            img(src='assets/img/icons/question.png' alt='')
                        h3.help__title Basics
                        .help__des Quisque rutrum metus non magna imperdiet viverra.  Ut consectetur diam nec dignissim posuere. Pellentesque porttitor tortor ut tincidunt faucibus.
                .col-sm-4
                    .help
                        .help__icon
                            img(src='assets/img/icons/ear.png' alt='')
                        h3.help__title Appointment Booking
                        .help__des Quisque rutrum metus non magna imperdiet viverra.  Ut consectetur diam nec dignissim posuere. Pellentesque porttitor tortor ut tincidunt faucibus. 
                .col-sm-4
                    .help
                        .help__icon
                            img(src='assets/img/icons/shop.png' alt='')
                        h3.help__title Eshop
                        .help__des Quisque rutrum metus non magna imperdiet viverra.  Ut consectetur diam nec dignissim posuere. Pellentesque porttitor tortor ut tincidunt faucibus.

            h3.title-border.title-border-center: span Frequently Asked Questions
            .panel-group#faq(role='tablist' aria-multiselectable='true')
                .panel.panel-default
                    .panel-heading(role='tab')
                        h4.panel-title
                            a.accordion-toggle(data-toggle='collapse' data-parent='#faq' href='#panel1')
                                span Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                    .panel-collapse.collapse.in#panel1(role='tabpanel')
                        .panel-body Vestibulum in lectus nibh. Nullam faucibus malesuada nisl, ac pellentesque leo feugiat vitae. Pellentesque accumsan nunc ac odio mattis, sed volutpat felis imperdiet. Duis tincidunt neque eget ligula molestie semper. 

                .panel.panel-default
                    .panel-heading(role='tab')
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#faq' href='#panel2')
                                span Ut consectetur diam nec dignissim posuere?
                    .panel-collapse.collapse#panel2(role='tabpanel')
                        .panel-body Vestibulum in lectus nibh. Nullam faucibus malesuada nisl, ac pellentesque leo feugiat vitae. Pellentesque accumsan nunc ac odio mattis, sed volutpat felis imperdiet. Duis tincidunt neque eget ligula molestie semper. 

                .panel.panel-default
                    .panel-heading(role='tab')
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#faq' href='#panel3')
                                span Pellentesque porttitor tortor ut tincidunt faucibus?
                    .panel-collapse.collapse#panel3(role='tabpanel')
                        .panel-body Vestibulum in lectus nibh. Nullam faucibus malesuada nisl, ac pellentesque leo feugiat vitae. Pellentesque accumsan nunc ac odio mattis, sed volutpat felis imperdiet. Duis tincidunt neque eget ligula molestie semper. 

                .panel.panel-default
                    .panel-heading(role='tab')
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#faq' href='#panel4')
                                span Quisque rutrum metus non magna imperdiet viverra?
                    .panel-collapse.collapse#panel4(role='tabpanel')
                        .panel-body Vestibulum in lectus nibh. Nullam faucibus malesuada nisl, ac pellentesque leo feugiat vitae. Pellentesque accumsan nunc ac odio mattis, sed volutpat felis imperdiet. Duis tincidunt neque eget ligula molestie semper. 

                .panel.panel-default
                    .panel-heading(role='tab')
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#faq' href='#panel5')
                                span Curabitur consequat nisl leo, nec condimentum magna pretium accumsan?
                    .panel-collapse.collapse#panel5(role='tabpanel')
                        .panel-body Vestibulum in lectus nibh. Nullam faucibus malesuada nisl, ac pellentesque leo feugiat vitae. Pellentesque accumsan nunc ac odio mattis, sed volutpat felis imperdiet. Duis tincidunt neque eget ligula molestie semper. 

                .panel.panel-default
                    .panel-heading(role='tab')
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#faq' href='#panel6')
                                span Quisque dapibus fermentum nisl in pharetra?
                    .panel-collapse.collapse#panel6(role='tabpanel')
                        .panel-body Vestibulum in lectus nibh. Nullam faucibus malesuada nisl, ac pellentesque leo feugiat vitae. Pellentesque accumsan nunc ac odio mattis, sed volutpat felis imperdiet. Duis tincidunt neque eget ligula molestie semper. 

                .panel.panel-default
                    .panel-heading(role='tab')
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#faq' href='#panel7')
                                span Nullam faucibus ut felis eu maximus?
                    .panel-collapse.collapse#panel7(role='tabpanel')
                        .panel-body Vestibulum in lectus nibh. Nullam faucibus malesuada nisl, ac pellentesque leo feugiat vitae. Pellentesque accumsan nunc ac odio mattis, sed volutpat felis imperdiet. Duis tincidunt neque eget ligula molestie semper. 

                .panel.panel-default
                    .panel-heading(role='tab')
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#faq' href='#panel8')
                                span Suspendisse est quam, aliquam eget tincidunt ut, facilisis at orci?
                    .panel-collapse.collapse#panel8(role='tabpanel')
                        .panel-body  Vestibulum in lectus nibh. Nullam faucibus malesuada nisl, ac pellentesque leo feugiat vitae. Pellentesque accumsan nunc ac odio mattis, sed volutpat felis imperdiet. Duis tincidunt neque eget ligula molestie semper. 

                .panel.panel-default
                    .panel-heading(role='tab')
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#faq' href='#panel9')
                                span Vestibulum metus dui, semper ut luctus nec, porta ac dolor?
                    .panel-collapse.collapse#panel9(role='tabpanel')
                        .panel-body Vestibulum in lectus nibh. Nullam faucibus malesuada nisl, ac pellentesque leo feugiat vitae. Pellentesque accumsan nunc ac odio mattis, sed volutpat felis imperdiet. Duis tincidunt neque eget ligula molestie semper.
                .panel.panel-default
                    .panel-heading(role='tab')
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#faq' href='#panel10')
                                span Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                    .panel-collapse.collapse#panel10(role='tabpanel')
                        .panel-body Vestibulum in lectus nibh. Nullam faucibus malesuada nisl, ac pellentesque leo feugiat vitae. Pellentesque accumsan nunc ac odio mattis, sed volutpat felis imperdiet. Duis tincidunt neque eget ligula molestie semper. 

                .panel.panel-default
                    .panel-heading(role='tab')
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#faq' href='#panel11')
                                span Ut consectetur diam nec dignissim posuere?
                    .panel-collapse.collapse#panel11(role='tabpanel')
                        .panel-body Vestibulum in lectus nibh. Nullam faucibus malesuada nisl, ac pellentesque leo feugiat vitae. Pellentesque accumsan nunc ac odio mattis, sed volutpat felis imperdiet. Duis tincidunt neque eget ligula molestie semper. 

                .panel.panel-default
                    .panel-heading(role='tab')
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#faq' href='#panel12')
                                span Pellentesque porttitor tortor ut tincidunt faucibus?
                    .panel-collapse.collapse#panel12(role='tabpanel')
                        .panel-body Vestibulum in lectus nibh. Nullam faucibus malesuada nisl, ac pellentesque leo feugiat vitae. Pellentesque accumsan nunc ac odio mattis, sed volutpat felis imperdiet. Duis tincidunt neque eget ligula molestie semper. 

                .panel.panel-default
                    .panel-heading(role='tab')
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#faq' href='#panel13')
                                span Quisque rutrum metus non magna imperdiet viverra?
                    .panel-collapse.collapse#panel13(role='tabpanel')
                        .panel-body Vestibulum in lectus nibh. Nullam faucibus malesuada nisl, ac pellentesque leo feugiat vitae. Pellentesque accumsan nunc ac odio mattis, sed volutpat felis imperdiet. Duis tincidunt neque eget ligula molestie semper. 

                .panel.panel-default
                    .panel-heading(role='tab')
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#faq' href='#panel14')
                                span Curabitur consequat nisl leo, nec condimentum magna pretium accumsan?
                    .panel-collapse.collapse#panel14(role='tabpanel')
                        .panel-body Vestibulum in lectus nibh. Nullam faucibus malesuada nisl, ac pellentesque leo feugiat vitae. Pellentesque accumsan nunc ac odio mattis, sed volutpat felis imperdiet. Duis tincidunt neque eget ligula molestie semper. 

                .panel.panel-default
                    .panel-heading(role='tab')
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#faq' href='#panel15')
                                span Quisque dapibus fermentum nisl in pharetra?
                    .panel-collapse.collapse#panel15(role='tabpanel')
                        .panel-body Vestibulum in lectus nibh. Nullam faucibus malesuada nisl, ac pellentesque leo feugiat vitae. Pellentesque accumsan nunc ac odio mattis, sed volutpat felis imperdiet. Duis tincidunt neque eget ligula molestie semper. 

                .panel.panel-default
                    .panel-heading(role='tab')
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#faq' href='#panel16')
                                span Nullam faucibus ut felis eu maximus?
                    .panel-collapse.collapse#panel16(role='tabpanel')
                        .panel-body Vestibulum in lectus nibh. Nullam faucibus malesuada nisl, ac pellentesque leo feugiat vitae. Pellentesque accumsan nunc ac odio mattis, sed volutpat felis imperdiet. Duis tincidunt neque eget ligula molestie semper. 

                .panel.panel-default
                    .panel-heading(role='tab')
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#faq' href='#panel17')
                                span Suspendisse est quam, aliquam eget tincidunt ut, facilisis at orci?
                    .panel-collapse.collapse#panel17(role='tabpanel')
                        .panel-body  Vestibulum in lectus nibh. Nullam faucibus malesuada nisl, ac pellentesque leo feugiat vitae. Pellentesque accumsan nunc ac odio mattis, sed volutpat felis imperdiet. Duis tincidunt neque eget ligula molestie semper. 

                .panel.panel-default
                    .panel-heading(role='tab')
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#faq' href='#panel18')
                                span Vestibulum metus dui, semper ut luctus nec, porta ac dolor?
                    .panel-collapse.collapse#panel18(role='tabpanel')
                        .panel-body Vestibulum in lectus nibh. Nullam faucibus malesuada nisl, ac pellentesque leo feugiat vitae. Pellentesque accumsan nunc ac odio mattis, sed volutpat felis imperdiet. Duis tincidunt neque eget ligula molestie semper.

