extends tmpl/layout.main.jade

block content
    include tmpl/block/nav.jade
    include tmpl/block/line.background.jade
    include tmpl/block/search.jade
    include tmpl/block/3steps.jade
    include tmpl/block/eshop.jade
    include tmpl/block/popular.search.jade
    include tmpl/block/line.background.jade
    include tmpl/block/article.jade
    include tmpl/block/line.background.jade
    include tmpl/block/community.jade
    include tmpl/block/doctor.jade