extends tmpl/layout.main.jade

block content
    include tmpl/block/nav.jade
    include tmpl/block/line.background.jade
    
    section.block.block-md
        .container
            .block-wrap
                .row
                    .col-sm-7
                        .login(data-mh="login")
                            .login__title Have you signed in with us before?<br>Registration is quick and simple!
                            a(href='register.html').btn.btn-main.btn-block
                                span Join Now
                                i.fa.fa-angle-right


                    .col-sm-5
                        .general-form.block-grey(data-mh="login")
                            h2.general-form__title Login
                            form(role='form')
                                .form-group
                                    label Email Adrress:
                                    input.form-control(type='email')
                                .form-group
                                    label Password:
                                    input.form-control(type='password')
                                p.general-form__subTitle - or login using: -

                                .form-group
                                    .row
                                        .col-sm-6
                                            button.btn.btn-social.btn-block
                                                i.fa.fa-google-plus
                                                span Google
                                        .col-sm-6
                                            button.btn.btn-social.btn-block
                                                i.fa.fa-facebook
                                                span Facebook

                                .form-group
                                    button.btn.btn-main.btn-block Login

                                a.forgot-password(href='#') Forgot Password?

