extends tmpl/layout.main.jade

block content
    include tmpl/block/nav.jade
    include tmpl/block/line.background.jade
    
    section.block.block-md
        .container
            .block-wrap
                .row
                    .col-sm-7
                        .login(data-mh="login")
                            .login__title Have you signed in with us before?<br>Registration is quick and simple!
                            a(href='#').btn.btn-main.btn-block
                                span Join Now
                                i.fa.fa-angle-right


                    .col-sm-5
                        .general-form.block-grey(data-mh="login")
                            h2.general-form__title Create Account
                            form(role='form')
                                .form-group
                                    label Name
                                    input.form-control(type='text')
                                .form-group
                                    label Email Adrress:
                                    input.form-control(type='email')
                                .form-group
                                    label Password <em>(minimum of 6 characters)</em>:
                                    input.form-control(type='password')
                                .form-group
                                    label Confirm Password:
                                    input.form-control(type='password')
                                .form-group
                                    label Mobile Number:
                                    input.form-control(type='number')
                                .form-group
                                    label SG number for overseas patients <em>(optional)</em>:
                                    input.form-control(type='number')
                                .form-group
                                    .checkbox
                                        label
                                            input(type='checkbox')
                                            | Join mailing list
                                    .checkbox
                                        label
                                            input(type='checkbox')
                                            | I am a doctor
                                    .checkbox
                                        label
                                            input(type='checkbox')
                                            | List my practice on 65doctor.com
                                p.general-form__subTitle - or sign up using: -

                                .form-group
                                    .row
                                        .col-sm-6
                                            button.btn.btn-social.btn-block
                                                i.fa.fa-google-plus
                                                span Google
                                        .col-sm-6
                                            button.btn.btn-social.btn-block
                                                i.fa.fa-facebook
                                                span Facebook

                                p.general-form__note By signing up, you agree to 65Doctor’s <a href='#'>Terms and Conditions.</a>

                                .form-group
                                    button.btn.btn-main.btn-block Sign Up
