extends tmpl/layout.main.jade

block content
    include tmpl/block/nav.jade
    include tmpl/block/line.background.jade

    section.block.block-filter
        .container
            form.search__form
                .row
                    .col-sm-4
                        input.form-control.autocomplete-specialty(type='text' placeholder='Specialty')
                        span.search__form__text OR

                    .col-sm-8
                        .input-group
                            input.form-control.autocomplete-search(type='text' data-url='mocks/doctors.json' placeholder='Search for doctor name, symptoms, conditions')
                            .input-group-btn
                                button.btn.btn-search(type='submit') Search
                .filter
                    .row
                        .col-sm-3
                            .dropdown
                                button.btn.btn-default.dropdown-toogle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='true') Location
                                    span.caret
                                ul.dropdown-menu
                                    li: .checkbox
                                        label
                                            input(type='checkbox')
                                            span Alexandra
                                    li: .checkbox
                                        label
                                            input(type='checkbox')
                                            span Ang Mo Kio
                        .col-sm-2
                            .dropdown
                                button.btn.btn-default.dropdown-toogle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='true') Gender
                                    span.caret
                                ul.dropdown-menu
                                    li: .checkbox
                                        label
                                            input(type='checkbox' checked)
                                            span Any
                                    li: .checkbox
                                        label
                                            input(type='checkbox')
                                            span Male
                                    li: .checkbox
                                        label
                                            input(type='checkbox')
                                            span Female
                        .col-sm-3
                            .dropdown
                                button.btn.btn-default.dropdown-toogle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='true') Availability
                                    span.caret
                                ul.dropdown-menu.filter-availability
                                    li.days
                                        span.day.active Any
                                        span.day Sun
                                        span.day Mon
                                        span.day Tue
                                        span.day Wed
                                        span.day Thu
                                        span.day Fri
                                        span.day Sat
                                    li.hours
                                        .clearfix
                                            span.hours__range 06:00 AM
                                            span.hours__range 11:30 PM
                                        #slider
                        .col-sm-4
                            .dropdown
                                button.btn.btn-default.dropdown-toogle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='true') Yrs. of Experience
                                    span.caret
                                ul.dropdown-menu
                                    li: .checkbox
                                        label
                                            input(type='checkbox')
                                            span 0 - 5
                                    li: .checkbox
                                        label
                                            input(type='checkbox')
                                            span 6 - 10
                                    li: .checkbox
                                        label
                                            input(type='checkbox')
                                            span 11 - 20
                                    li: .checkbox
                                        label
                                            input(type='checkbox')
                                            span &gt; 20

    .container.result
        h3.result__title: span Search Results for: General Practitioners
        .result__head.hidden-xs.hidden-sm
            .row
                .col-md-5
                    span.result__head__text Choose your preferred date for your appointment:
                .col-md-7
                    .tbl-wrapper
                        span.prevCalendar.glyphicon.glyphicon-menu-left
                        span.nextCalendar.glyphicon.glyphicon-menu-right
                        table.table.calendar-tbl
                            thead.hideen-sm.hidden-xs
                                tr
                                    th
                                        span MONDAY
                                        span 01 Aug 2016
                                    th
                                        span TUESDAY
                                        span 02 Aug 2016
                                    th
                                        span WEDNESDAY
                                        span 03 Aug 2016
                                    th
                                        span THURSDAY
                                        span 04 Aug 2016
                                    th
                                        span FRIDAY
                                        span 05 Aug 2016
        .result__item
            .row
                .col-md-5
                    .doctor
                        .doctor__left
                            img.doctor__photo(src='assets/img/doctor.jpg' alt='')
                            a(href='doctor.html').doctor__detail-link View profile
                            .social-like
                                .social-inline
                                    .fb-like(data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false")
                                .social-inline
                                    .g-plusone(data-size="medium" data-href="https://plus.google.com/u/0/communities/115990295442220364736")
                            a(href='#').doctor__favourite
                                i.fa.fa-star
                                span Favourite Doctor
                            a(href='#').doctor__package
                                i.fa.fa-shopping-cart
                                span Buy Medical Packages

                        .doctor__right
                            h3.doctor__name
                                span Dr. Name of Doctor
                                i.fa.fa-check-circle
                            span.doctor__short-info General Practitioner, Dietician 33 years of experience

                            .room-list
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')

                            .text-center
                                a(href='#').doctor__more
                                    span View more information
                                    i.fa.fa-arrow-circle-down
                    
                .col-md-7
                    .tbl-wrapper
                        table.table.calendar-tbl
                            tbody
                                tr
                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span MONDAY
                                            span 01 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span TUESDAY
                                            span 02 Aug 2016
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span WEDNESDAY
                                            span 03 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span THURSDAY
                                            span 04 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span FRIDAY
                                            span 05 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                .col-md-12
                    .doctor__info
                        .row
                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-user-md
                                    span Professional Station
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.



                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-medkit
                                    span What I Do
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.
                        .doctor__info__overlay
                            a(href='#') Full profile

        .result__item.old
            .result__highlight
                i.fa.fa-flash
                span Real time booking
            .row
                .col-md-5
                    .doctor
                        .doctor__left
                            img.doctor__photo(src='assets/img/doctor.jpg' alt='')
                            a(href='doctor.html').doctor__detail-link View profile
                            .social-like
                                .social-inline
                                    .fb-like(data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false")
                                .social-inline
                                    .g-plusone(data-size="medium" data-href="https://plus.google.com/u/0/communities/115990295442220364736")
                            a(href='#').doctor__favourite
                                i.fa.fa-star
                                span Favourite Doctor
                            a(href='#').doctor__package
                                i.fa.fa-shopping-cart
                                span Buy Medical Packages

                        .doctor__right
                            h3.doctor__name
                                span Dr. Name of Doctor
                                i.fa.fa-check-circle
                            span.doctor__short-info General Practitioner, Dietician 33 years of experience

                            .room-list
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')

                            .text-center
                                a(href='#').doctor__more
                                    span View more information
                                    i.fa.fa-arrow-circle-down
                    
                .col-md-7
                    .tbl-wrapper
                        table.table.calendar-tbl
                            tbody
                                tr
                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span MONDAY
                                            span 01 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span TUESDAY
                                            span 02 Aug 2016
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span WEDNESDAY
                                            span 03 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span THURSDAY
                                            span 04 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span FRIDAY
                                            span 05 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                .col-md-12
                    .doctor__info
                        .row
                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-user-md
                                    span Professional Station
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.



                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-medkit
                                    span What I Do
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.
                        .doctor__info__overlay
                            a(href='#') Full profile

        .result__item
            .row
                .col-md-5
                    .doctor
                        .doctor__left
                            img.doctor__photo(src='assets/img/doctor.jpg' alt='')
                            a(href='doctor.html').doctor__detail-link View profile
                            .social-like
                                .social-inline
                                    .fb-like(data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false")
                                .social-inline
                                    .g-plusone(data-size="medium" data-href="https://plus.google.com/u/0/communities/115990295442220364736")
                            a(href='#').doctor__favourite
                                i.fa.fa-star
                                span Favourite Doctor
                            a(href='#').doctor__package
                                i.fa.fa-shopping-cart
                                span Buy Medical Packages

                        .doctor__right
                            h3.doctor__name
                                span Dr. Name of Doctor
                                i.fa.fa-check-circle
                            span.doctor__short-info General Practitioner, Dietician 33 years of experience

                            .room-list
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')

                            .text-center
                                a(href='#').doctor__more
                                    span View more information
                                    i.fa.fa-arrow-circle-down
                    
                .col-md-7
                    .tbl-wrapper
                        table.table.calendar-tbl
                            tbody
                                tr
                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span MONDAY
                                            span 01 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span TUESDAY
                                            span 02 Aug 2016
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span WEDNESDAY
                                            span 03 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span THURSDAY
                                            span 04 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span FRIDAY
                                            span 05 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                .col-md-12
                    .doctor__info
                        .row
                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-user-md
                                    span Professional Station
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.



                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-medkit
                                    span What I Do
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.
                        .doctor__info__overlay
                            a(href='#') Full profile

        .result__item.old
            .result__highlight
                i.fa.fa-flash
                span Real time booking
            .row
                .col-md-5
                    .doctor
                        .doctor__left
                            img.doctor__photo(src='assets/img/doctor.jpg' alt='')
                            a(href='doctor.html').doctor__detail-link View profile
                            .social-like
                                .social-inline
                                    .fb-like(data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false")
                                .social-inline
                                    .g-plusone(data-size="medium" data-href="https://plus.google.com/u/0/communities/115990295442220364736")
                            a(href='#').doctor__favourite
                                i.fa.fa-star
                                span Favourite Doctor
                            a(href='#').doctor__package
                                i.fa.fa-shopping-cart
                                span Buy Medical Packages

                        .doctor__right
                            h3.doctor__name
                                span Dr. Name of Doctor
                                i.fa.fa-check-circle
                            span.doctor__short-info General Practitioner, Dietician 33 years of experience

                            .room-list
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')

                            .text-center
                                a(href='#').doctor__more
                                    span View more information
                                    i.fa.fa-arrow-circle-down
                    
                .col-md-7
                    .tbl-wrapper
                        table.table.calendar-tbl
                            tbody
                                tr
                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span MONDAY
                                            span 01 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span TUESDAY
                                            span 02 Aug 2016
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span WEDNESDAY
                                            span 03 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span THURSDAY
                                            span 04 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span FRIDAY
                                            span 05 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                .col-md-12
                    .doctor__info
                        .row
                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-user-md
                                    span Professional Station
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.



                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-medkit
                                    span What I Do
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.
                        .doctor__info__overlay
                            a(href='#') Full profile

        .result__item
            .row
                .col-md-5
                    .doctor
                        .doctor__left
                            img.doctor__photo(src='assets/img/doctor.jpg' alt='')
                            a(href='doctor.html').doctor__detail-link View profile
                            .social-like
                                .social-inline
                                    .fb-like(data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false")
                                .social-inline
                                    .g-plusone(data-size="medium" data-href="https://plus.google.com/u/0/communities/115990295442220364736")
                            a(href='#').doctor__favourite
                                i.fa.fa-star
                                span Favourite Doctor
                            a(href='#').doctor__package
                                i.fa.fa-shopping-cart
                                span Buy Medical Packages

                        .doctor__right
                            h3.doctor__name
                                span Dr. Name of Doctor
                                i.fa.fa-check-circle
                            span.doctor__short-info General Practitioner, Dietician 33 years of experience

                            .room-list
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')

                            .text-center
                                a(href='#').doctor__more
                                    span View more information
                                    i.fa.fa-arrow-circle-down
                    
                .col-md-7
                    .tbl-wrapper
                        table.table.calendar-tbl
                            tbody
                                tr
                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span MONDAY
                                            span 01 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span TUESDAY
                                            span 02 Aug 2016
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span WEDNESDAY
                                            span 03 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span THURSDAY
                                            span 04 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span FRIDAY
                                            span 05 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                .col-md-12
                    .doctor__info
                        .row
                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-user-md
                                    span Professional Station
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.



                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-medkit
                                    span What I Do
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.
                        .doctor__info__overlay
                            a(href='#') Full profile

        .result__item.old
            .result__highlight
                i.fa.fa-flash
                span Real time booking
            .row
                .col-md-5
                    .doctor
                        .doctor__left
                            img.doctor__photo(src='assets/img/doctor.jpg' alt='')
                            a(href='doctor.html').doctor__detail-link View profile
                            .social-like
                                .social-inline
                                    .fb-like(data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false")
                                .social-inline
                                    .g-plusone(data-size="medium" data-href="https://plus.google.com/u/0/communities/115990295442220364736")
                            a(href='#').doctor__favourite
                                i.fa.fa-star
                                span Favourite Doctor
                            a(href='#').doctor__package
                                i.fa.fa-shopping-cart
                                span Buy Medical Packages

                        .doctor__right
                            h3.doctor__name
                                span Dr. Name of Doctor
                                i.fa.fa-check-circle
                            span.doctor__short-info General Practitioner, Dietician 33 years of experience

                            .room-list
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')

                            .text-center
                                a(href='#').doctor__more
                                    span View more information
                                    i.fa.fa-arrow-circle-down
                    
                .col-md-7
                    .tbl-wrapper
                        table.table.calendar-tbl
                            tbody
                                tr
                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span MONDAY
                                            span 01 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span TUESDAY
                                            span 02 Aug 2016
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span WEDNESDAY
                                            span 03 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span THURSDAY
                                            span 04 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span FRIDAY
                                            span 05 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                .col-md-12
                    .doctor__info
                        .row
                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-user-md
                                    span Professional Station
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.



                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-medkit
                                    span What I Do
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.
                        .doctor__info__overlay
                            a(href='#') Full profile

        .result__item
            .row
                .col-md-5
                    .doctor
                        .doctor__left
                            img.doctor__photo(src='assets/img/doctor.jpg' alt='')
                            a(href='doctor.html').doctor__detail-link View profile
                            .social-like
                                .social-inline
                                    .fb-like(data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false")
                                .social-inline
                                    .g-plusone(data-size="medium" data-href="https://plus.google.com/u/0/communities/115990295442220364736")
                            a(href='#').doctor__favourite
                                i.fa.fa-star
                                span Favourite Doctor
                            a(href='#').doctor__package
                                i.fa.fa-shopping-cart
                                span Buy Medical Packages

                        .doctor__right
                            h3.doctor__name
                                span Dr. Name of Doctor
                                i.fa.fa-check-circle
                            span.doctor__short-info General Practitioner, Dietician 33 years of experience

                            .room-list
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')

                            .text-center
                                a(href='#').doctor__more
                                    span View more information
                                    i.fa.fa-arrow-circle-down
                    
                .col-md-7
                    .tbl-wrapper
                        table.table.calendar-tbl
                            tbody
                                tr
                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span MONDAY
                                            span 01 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span TUESDAY
                                            span 02 Aug 2016
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span WEDNESDAY
                                            span 03 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span THURSDAY
                                            span 04 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span FRIDAY
                                            span 05 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                .col-md-12
                    .doctor__info
                        .row
                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-user-md
                                    span Professional Station
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.



                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-medkit
                                    span What I Do
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.
                        .doctor__info__overlay
                            a(href='#') Full profile

        .result__item.old
            .result__highlight
                i.fa.fa-flash
                span Real time booking
            .row
                .col-md-5
                    .doctor
                        .doctor__left
                            img.doctor__photo(src='assets/img/doctor.jpg' alt='')
                            a(href='doctor.html').doctor__detail-link View profile
                            .social-like
                                .social-inline
                                    .fb-like(data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false")
                                .social-inline
                                    .g-plusone(data-size="medium" data-href="https://plus.google.com/u/0/communities/115990295442220364736")
                            a(href='#').doctor__favourite
                                i.fa.fa-star
                                span Favourite Doctor
                            a(href='#').doctor__package
                                i.fa.fa-shopping-cart
                                span Buy Medical Packages

                        .doctor__right
                            h3.doctor__name
                                span Dr. Name of Doctor
                                i.fa.fa-check-circle
                            span.doctor__short-info General Practitioner, Dietician 33 years of experience

                            .room-list
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')

                            .text-center
                                a(href='#').doctor__more
                                    span View more information
                                    i.fa.fa-arrow-circle-down
                    
                .col-md-7
                    .tbl-wrapper
                        table.table.calendar-tbl
                            tbody
                                tr
                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span MONDAY
                                            span 01 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span TUESDAY
                                            span 02 Aug 2016
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span WEDNESDAY
                                            span 03 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span THURSDAY
                                            span 04 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span FRIDAY
                                            span 05 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                .col-md-12
                    .doctor__info
                        .row
                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-user-md
                                    span Professional Station
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.



                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-medkit
                                    span What I Do
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.
                        .doctor__info__overlay
                            a(href='#') Full profile

        .result__item
            .row
                .col-md-5
                    .doctor
                        .doctor__left
                            img.doctor__photo(src='assets/img/doctor.jpg' alt='')
                            a(href='doctor.html').doctor__detail-link View profile
                            .social-like
                                .social-inline
                                    .fb-like(data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false")
                                .social-inline
                                    .g-plusone(data-size="medium" data-href="https://plus.google.com/u/0/communities/115990295442220364736")
                            a(href='#').doctor__favourite
                                i.fa.fa-star
                                span Favourite Doctor
                            a(href='#').doctor__package
                                i.fa.fa-shopping-cart
                                span Buy Medical Packages

                        .doctor__right
                            h3.doctor__name
                                span Dr. Name of Doctor
                                i.fa.fa-check-circle
                            span.doctor__short-info General Practitioner, Dietician 33 years of experience

                            .room-list
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')

                            .text-center
                                a(href='#').doctor__more
                                    span View more information
                                    i.fa.fa-arrow-circle-down
                    
                .col-md-7
                    .tbl-wrapper
                        table.table.calendar-tbl
                            tbody
                                tr
                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span MONDAY
                                            span 01 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span TUESDAY
                                            span 02 Aug 2016
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span WEDNESDAY
                                            span 03 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span THURSDAY
                                            span 04 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span FRIDAY
                                            span 05 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                .col-md-12
                    .doctor__info
                        .row
                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-user-md
                                    span Professional Station
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.



                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-medkit
                                    span What I Do
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.
                        .doctor__info__overlay
                            a(href='#') Full profile

        .result__item.old
            .result__highlight
                i.fa.fa-flash
                span Real time booking
            .row
                .col-md-5
                    .doctor
                        .doctor__left
                            img.doctor__photo(src='assets/img/doctor.jpg' alt='')
                            a(href='doctor.html').doctor__detail-link View profile
                            .social-like
                                .social-inline
                                    .fb-like(data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false")
                                .social-inline
                                    .g-plusone(data-size="medium" data-href="https://plus.google.com/u/0/communities/115990295442220364736")
                            a(href='#').doctor__favourite
                                i.fa.fa-star
                                span Favourite Doctor
                            a(href='#').doctor__package
                                i.fa.fa-shopping-cart
                                span Buy Medical Packages

                        .doctor__right
                            h3.doctor__name
                                span Dr. Name of Doctor
                                i.fa.fa-check-circle
                            span.doctor__short-info General Practitioner, Dietician 33 years of experience

                            .room-list
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')
                                .room
                                    h4.room__title Singapore Medical Group
                                    span.room__des 290 Orchard Road Paragon #13-01/06
                                    .room__list
                                        img(src='assets/img/slider-detail/item01.jpg' alt='')
                                        img(src='assets/img/slider-detail/item02.jpg' alt='')
                                        img(src='assets/img/slider-detail/item03.jpg' alt='')

                            .text-center
                                a(href='#').doctor__more
                                    span View more information
                                    i.fa.fa-arrow-circle-down
                    
                .col-md-7
                    .tbl-wrapper
                        table.table.calendar-tbl
                            tbody
                                tr
                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span MONDAY
                                            span 01 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span TUESDAY
                                            span 02 Aug 2016
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A
                                        a.disabled(href='#') N/A

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span WEDNESDAY
                                            span 03 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span THURSDAY
                                            span 04 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                                    td
                                        .table-caption.visible-sm.visible-xs
                                            span FRIDAY
                                            span 05 Aug 2016
                                        a(href='#') 9:00 AM
                                        a(href='#') 9:30 PM
                                        a(href='#') 10:00 PM
                                        a(href='#') 10:30 PM
                                        a(href='#') 11:00 PM
                                        a(href='#') 11:30 PM
                                        a.more(href='#') More...

                .col-md-12
                    .doctor__info
                        .row
                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-user-md
                                    span Professional Station
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.

                            .col-sm-6
                                h4.doctor__info__title
                                    i.fa.fa-medkit
                                    span What I Do
                                .doctor__info__des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla eros sed nunc pellentesque, ut tristique diam consectetur. Nunc non libero magna. Pellentesque nec velit nibh. Sed vel tellus enim. Mauris non libero nec sem accumsan molestie. Aliquam sit amet sapien nibh. Suspendisse lorem ante, pulvinar sit amet posuere vitae, ultricies eget ipsum. Morbi consequat, ipsum in commodo imperdiet, nunc tellus suscipit diam, non feugiat arcu nulla sed neque. Cras suscipit arcu id enim ultrices, vitae fermentum lacus egestas. Nunc ac ornare enim. Mauris ultricies dui vitae orci auctor, sit amet aliquet nibh euismod.
                        .doctor__info__overlay
                            a(href='#') Full profile

        nav.pagination-wrap(aria-label='Page navigation')
            ul.pagination
                li
                    a.disabled(href='#', aria-label='Previous')
                        span(aria-hidden='true') &laquo;
                li
                    a.active(href='#') 1
                li
                    a(href='#') 2
                li
                    a(href='#') 3
                li
                    a(href='#') 4
                li
                    a(href='#') 5
                li
                    a(href='#', aria-label='Next')
                        span(aria-hidden='true') &raquo;
