extends tmpl/layout.main.jade

block content
    include tmpl/block/nav.jade
    include tmpl/block/line.background.jade
    
    section.block.block-md
        .container
            h2.block__title.block__title-md.mb-35 Site map
            
            ul.linkList
                li
                    a.active(href='#') Home
                    ul 
                        li: a(href='#') Search Page
                        li: a(href='#') Eshop Preview
                        li: a(href='#') Popular Pages
                        li
                            a(href='#') Health Articles Preview
                            ul
                                li: a(href='#') Health Articles Page
                                li: a(href='#') Health Article 1
                                li: a(href='#') Health Article 2
                                li: a(href='#') Health Article 3
                                li: a(href='#') Health Article 4
                        li: a(href='#') Doctor’s Newsletter
                        li: a(href='#') Doctor’s Sign Up
                        li: a(href='#') SEO
                li: a(href='#') About us
                li: a(href='#') Booking 
                li: a(href='#') Doctor’s Profile
                li: a(href='#') FAQ
                li: a(href='#') Login/Signup
                li: a(href='#') Directory
                li: a(href='#') E Shop
                li: a(href='#') Contact Us